openapi: 3.0.0
info:
  title: api.heiaheia.com
  version: "2-oas3"
  description: |
    This document describes how to use the HeiaHeia API.
    - [Authorization](https://github.com/HeiaHeia/api-docs/blob/master/authorization.md)
    - [Authentication](https://github.com/HeiaHeia/api-docs/blob/master/authentication.md)
    - [Error Codes & Responses](https://github.com/HeiaHeia/api-docs/blob/master/errors-responses.md)
    - [Date & DateTime format](https://github.com/HeiaHeia/api-docs/blob/master/date-format.md)
servers:
  - url: 'https://api.heiaheia.com'
    description: "Production"
  - url: 'https://api.h2hstage.com'
    description: "Staging"
  - url: 'http://api.hh.test'
    description: "Development"
paths:
  /banners:
    get:
      operationId: banners_index
      parameters:
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Banner'
                type: array
      summary: List of Banners 
      tags:
        - banners
  /cheer_types:
    get:
      description: Cheers refilled on Monday.
      operationId: cheer_types_index
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/CheerType'
                type: array
      summary: Available cheer types
      tags:
        - cheer_types
  '/comments/{id}':
    delete:
      operationId: comments_destroy
      parameters:
        - $ref: '#/components/parameters/idParam'
      responses:
        '204':
          description: No response was specified
      summary: Delete a comment entry
      tags:
        - comments
  /conversations:
    get:
      operationId: conversations_index
      parameters:
        - description: When true also team related conversations are returned
          in: query
          name: by_conversation
          schema:
            type: boolean
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Conversation'
                type: array
      summary: List of conversations
      tags:
        - conversations
    post:
      operationId: conversations_create
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Conversation'
      summary: Create or fetch conversation
      tags:
        - conversations
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                user_id:
                  description: >-
                    The user for whom to create or fetch a conversation. Either this or group_id must be provided
                  type: integer
                group_id:
                  description: >-
                    The group for which to create or fetch a conversation. Either this or user_id must be provided
                  type: integer
  /conversations/unread:
    get:
      operationId: conversations_unread_index
      parameters:
        - description: When true also team related conversations are returned
          in: query
          name: by_conversation
          schema:
            type: boolean
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Conversation'
                type: array
      summary: List of unread conversations
      tags:
        - conversations
  '/conversations/{id}':
    parameters:
      - description: >-
          Identifier of the conversation. When by_conversation is omitted or false this is the conversation partner (user) id
        in: path
        name: id
        required: true
        schema:
          type: integer
      - description: Specifies how the id parameter should be handled
        in: query
        name: by_conversation
        schema:
          type: boolean
    delete:
      operationId: conversations_destroy
      responses:
        '200':
          description: No response was specified
      summary: >-
        Delete conversation. Note: This operation is currently not allowed when by_conversation is true
      tags:
        - conversations
    put:
      operationId: conversations_update
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Conversation'
      summary: Mark as read
      tags:
        - conversations
  '/conversations/{id}/messages':
    parameters:
      - description: >-
          Identifier of the conversation. When by_conversation is omitted or false this is the conversation partner (user) id
        in: path
        name: id
        required: true
        schema:
          type: integer
    get:
      operationId: conversations_messages_index
      parameters:
        - description: Specifies how the id parameter should be handled
          in: query
          name: by_conversation
          schema:
            type: boolean
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Message'
                type: array
      summary: Get list of messages from conversation.
      tags:
        - conversations
    post:
      operationId: conversations_messages_create
      parameters:
        - description: Specifies how the id parameter should be handled
          in: query
          name: by_conversation
          schema:
            type: boolean
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Message'
      summary: Create a new message
      tags:
        - conversations
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                body:
                  description: Required if image param blank.
                  type: string
                image:
                  description: 'The file, support only .JPEG and .PNG format.'
                  type: string
                  format: binary
              required:
                - body
  /email/verify:
    put:
      operationId: emails_verify
      responses:
        '200':
          description: No response was specified
      summary: Verify email
      tags:
        - emails
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                email:
                  type: string
  /feeds:
    get:
      description: >-
        The 'TextEntry' special kind of entry that can not be cheered and
        commented. This kind of entry contain attributes 'actor', 'description'
        and 'dictionary'. The 'actor' field is a 'CompactUser' object
        identifying the user who performed the action that resulted in the
        creation of this text entry. The 'description' attribute has special
        format contain embedded entries: <pre>{{User:3}}'s training goal
        ({{TrainingGoal:1}})</pre> <br> The information about embedded entries
        stored in 'dictionary' atrribute in format 'dictionary['kind:id']':
        <pre>{
         "dictionary": {
            "User:3": {
              "kind": "User",
              "name": "Bender Bending Rodríguez",
              "url": "https://api.heiaheia.com/v2/users/3"
            },
            "TrainingGoal:1": {
              "kind": "TrainingGoal",
              "name": "I’m gonna go build my own theme park, with blackjack and hookers!",
              "url": "https://api.heiaheia.com/v2/training_goals/1"
            }
          }
        }</pre>
      operationId: feeds_index
      parameters:
        - description: The ID of the feed entry that you’ve seen.
          in: query
          name: since
          schema:
            type: integer
        - description: Direction
          in: query
          name: direction
          schema:
            type: string
            default: desc
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Feed'
                type: array
      summary: Finds feeds
      tags:
        - feeds
  '/feeds/{id}':
    get:
      description: >-
        The 'TextEntry' special kind of entry that can not be cheered and
        commented. This kind of entry contain atttributes 'actor', 'description'
        and 'dictionary'. The 'actor' field is a 'CompactUser' object
        identifying the user who performed the action that resulted in the
        creation of this text entry. The 'description' attribute has special
        format contain embedded entries: <pre>{{User:3}}'s training goal
        ({{TrainingGoal:1}})</pre> <br> The information about embedded entries
        stored in 'dictionary' atrribute in format 'dictionary['kind:id']':
        <pre>{
         "dictionary": {
            "User:3": {
              "kind": "User",
              "name": "Bender Bending Rodríguez",
              "url": "https://api.heiaheia.com/v2/users/3"
            },
            "TrainingGoal:1": {
              "kind": "TrainingGoal",
              "name": "I’m gonna go build my own theme park, with blackjack and hookers!",
              "url": "https://api.heiaheia.com/v2/training_goals/1"
            }
          }
        }</pre>
      operationId: feeds_show
      parameters:
        - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Feed'
      summary: Find feed by ID
      tags:
        - feeds
  /free_entries:
    get:
      operationId: free_entries_index
      parameters:
        - $ref: '#/components/parameters/yearParam'
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/FreeEntry'
                type: array
      summary: Finds free entries
      tags:
        - free_entries
    post:
      operationId: free_entries_create
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/FreeEntry'
      summary: Add a new free entry
      tags:
        - free_entries
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                date:
                  description: Date of the entry as “YYYY-MM-DD”. Example “2010-04-23”
                  type: string
                  format: date
                notes:
                  description: Informal notes for the entry.
                  type: string
                private:
                  type: boolean
              required:
                - date
  /free_entries/years:
    get:
      operationId: free_entries_years_index
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  type: integer
                type: array
      summary: Get list of available years
      tags:
        - free_entries
  '/free_entries/{free_entry_id}/cheers':
    parameters:
      - in: path
        name: free_entry_id
        required: true
        schema:
          type: integer
    get:
      operationId: free_entries_cheers_index
      parameters:
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Cheer'
                type: array
      summary: Get list of cheers
      tags:
        - free_entries
    post:
      operationId: free_entries_cheer_create
      parameters:
        - in: query
          name: cheer_type_id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Cheer'
      summary: Add a new cheer
      tags:
        - free_entries
  '/free_entries/{free_entry_id}/comments':
    parameters:
      - in: path
        name: free_entry_id
        required: true
        schema:
          type: integer
    get:
      operationId: free_entries_comments_index
      parameters:
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Comment'
                type: array
      summary: Get list of comments
      tags:
        - free_entries
    post:
      operationId: free_entries_comments_create
      parameters:
        - in: query
          name: notes
          required: true
          schema:
            type: string
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Comment'
      summary: Add a new comment
      tags:
        - free_entries
  '/free_entries/{id}':
    parameters:
      - $ref: '#/components/parameters/idParam'
    delete:
      operationId: free_entries_destroy
      responses:
        '200':
          description: No response was specified
      summary: Delete free entry
      tags:
        - free_entries
    get:
      operationId: free_entries_show
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/FreeEntry'
      summary: Find free entry by ID
      tags:
        - free_entries
    put:
      operationId: free_entries_update
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/FreeEntry'
      summary: Update an existing free entry
      tags:
        - free_entries
      requestBody:
        $ref: '#/components/requestBodies/free_entries_update'
  /friends:
    get:
      operationId: friends_index
      parameters:
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/CompactUser'
                type: array
      summary: My friends
      tags:
        - friends
  /friends/requests:
    get:
      operationId: friends_requests_index
      parameters:
        - description: >-
            <b>pending</b> when you sent the friend request <b>requested</b>
            when friend request was sent to you
          in: query
          name: status
          required: true
          schema:
            type: string
            default: requested
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/CompactUser'
                type: array
      summary: My friend requests
      tags:
        - friends
  '/friends/{user_id}':
    parameters:
      - in: path
        name: user_id
        required: true
        schema:
          type: integer
    delete:
      operationId: friends_destroy
      responses:
        '200':
          description: No response was specified
      summary: Decline friendship requests or delete users from friends
      tags:
        - friends
    put:
      operationId: friends_create
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/CompactUser'
      summary: Create or accept friendship requests
      tags:
        - friends
  /invites:
    post:
      operationId: invites_create
      responses:
        '200':
          description: No response was specified
      summary: Send an invitation for yourself.
      tags:
        - invites
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                company_code:
                  type: string
                email:
                  type: string
                first_name:
                  type: string
                last_name:
                  type: string
              required:
                - company_code
                - email
                - first_name
  '/invites/{id}':
    get:
      operationId: invites_show
      parameters:
        - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Invite'
      summary: Find invite by ID
      tags:
        - invites
  /items:
    get:
      operationId: items_index
      parameters:
        - $ref: '#/components/parameters/yearParam'
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Item'
                type: array
      summary: Finds items
      tags:
        - items
  /items/agenda:
    get:
      operationId: items_agenda
      parameters:
        - description: Fetch agenda starting from this date (inclusive)
          in: path
          name: start_date
          required: true
          schema:
            type: string
            format: date
        - description: Fetch agenda until this date (inclusive)
          in: path
          name: end_date
          required: true
          schema:
            type: string
            format: date
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Item'
                type: array
      summary: Finds agenda items
      tags:
        - items
  /items/years:
    get:
      operationId: items_years_index
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  type: integer
                type: array
      summary: Get list of available years
      tags:
        - items
  '/items/{id}':
    get:
      operationId: items_show
      parameters:
        - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Item'
      summary: Find item by ID
      tags:
        - items
  /libraries:
    get:
      operationId: libraries_index
      parameters:
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Library'
                type: array
      summary: Lists available content libraries
      tags:
        - libraries
  /libraries/training_logs:
    post:
      operationId: libraries_training_logs_create
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/TrainingLog'
      summary: Clone a training log entry
      tags:
        - libraries
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                id:
                  description: ID of training log entry from the library
                  type: integer
                date:
                  description: Date of the entry as “YYYY-MM-DD”. Example “2010-04-23”
                  type: string
                  format: date
                status:
                  type: string
                  default: regular
              required:
                - id
                - date
                - status
  /libraries/wellness_entries:
    post:
      operationId: libraries_welllness_entries_create
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/WellnessEntry'
      summary: Clone a wellness entry
      tags:
        - libraries
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                id:
                  description: ID of wellness entry from the library
                  type: integer
                date:
                  description: Date of the entry as “YYYY-MM-DD”. Example “2010-04-23”
                  type: string
                  format: date
                status:
                  type: string
                  default: regular
              required:
                - id
                - date
                - status
  /libraries/workouts:
    get:
      description: >-
        More information about structure can ba found here:
        https://paper.dropbox.com/doc/Better-Life-API-description--AWHof1lxWZLkWJxRpAf4_UVkAg-zYuIzunnfjOtijGR5BiwX#:uid=038703152342316731380785&h2=Workout-Library
      operationId: library_workouts_index
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  type: object
                type: array
      summary: List of available workouts
      tags:
        - libraries
  '/libraries/{id}':
    get:
      operationId: libraries_show
      parameters:
        - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Library'
      summary: Find library by ID
      tags:
        - libraries
  '/libraries/{library_id}/folders':
    get:
      operationId: libraries_folders_index
      parameters:
        - description: The id of the library whose folders to list.
          in: path
          name: library_id
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/LibraryFolder'
                type: array
      summary: List library folders
      tags:
        - libraries
  '/libraries/{library_id}/folders/{folder_id}/items':
    get:
      operationId: libraries_folders_items_index
      parameters:
        - description: The id of the library containing the folder whose items to list.
          in: path
          name: library_id
          required: true
          schema:
            type: integer
        - description: The id of the folder whose items to list.
          in: path
          name: folder_id
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/LibraryItem'
                type: array
      summary: List library folder items
      tags:
        - libraries
  '/libraries/{library_id}/folders/{folder_id}/items/{id}':
    get:
      operationId: libraries_folders_items_show
      parameters:
        - in: path
          name: library_id
          required: true
          schema:
            type: integer
        - in: path
          name: folder_id
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/LibraryItem'
      summary: Find library item by ID
      tags:
        - libraries
  '/libraries/{library_id}/folders/{id}':
    get:
      operationId: libraries_folders_show
      parameters:
        - in: path
          name: library_id
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/LibraryFolder'
      summary: Find library folder by ID
      tags:
        - libraries
  '/libraries/{library_id}/items':
    get:
      operationId: library_items_index
      parameters:
        - in: path
          name: library_id
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/LibraryItem'
                type: array
      summary: List library item
      tags:
        - libraries
  '/libraries/{library_id}/items/{id}':
    get:
      operationId: libraries_items_show
      parameters:
        - in: path
          name: library_id
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/LibraryItem'
      summary: Find library item by ID
      tags:
        - libraries
  '/libraries/search':
    get:
      description: Search for content within a content library
      operationId: libraries_items_search
      parameters:
        - in: query
          name: q
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/LibraryItem'
                type: array
      summary: Search for content within content libraries available to the current user
      tags:
        - libraries
  /me:
    delete:
      operationId: me_destroy
      responses:
        '200':
          description: No response was specified
      summary: Deletes the user account of the logged in user
      tags:
        - me
    get:
      operationId: me_show
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/User'
      summary: Logged in user
      tags:
        - me
    put:
      operationId: me_update
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/User'
      summary: Update logged in user
      tags:
        - me
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                locale:
                  type: string
                measurement_units:
                  type: string
                privacy:
                  type: string
                birthdate:
                  description: Format YYYY-MM-DD
                  type: string
                  format: date
                gender:
                  type: string
                my_sports:
                  type: string
                records_and_highlights:
                  type: string
                linked_with_mixpanel:
                  type: boolean
                daily_steps_target:
                  type: integer
                sleep_target:
                  description: Daily sleep target in minutes
                  type: integer
  /me/avatar:
    delete:
      operationId: me_avatar_destroy
      responses:
        '200':
          description: No response was specified
      summary: Delete avatar
      tags:
        - me
    put:
      operationId: me_avatar_update
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/CompactUser'
      summary: Update user avatar
      tags:
        - me
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  description: >-
                    The image should be square size, support only .JPEG and .PNG
                    format.
                  type: string
                  format: binary
  /me/consents:
    get:
      operationId: mew_consents_index
      parameters:
        - description: >-
            Restricts consents to return by scope. Supported scopes are 'hh' and
            'org_surveys'.
          in: query
          name: scope
          schema:
            type: string
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/UserConsent'
                type: array
      summary: List the consents the user has given
      tags:
        - me
    post:
      operationId: me_consents_create
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/UserConsent'
      summary: Adds new consent given by the user
      tags:
        - me
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                scope:
                  type: string
                  enum:
                    - hh
                    - org_surveys
                consent_type:
                  type: string
                  enum:
                    - terms_of_service
                    - privacy_policy
  /medals:
    get:
      operationId: medals_index
      parameters:
        - $ref: '#/components/parameters/yearParam'
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Medal'
                type: array
      summary: Medals of current user
      tags:
        - medals
  /medals/years:
    get:
      operationId: medals_years_index
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  type: integer
                type: array
      summary: Get list of available years
      tags:
        - medals
  '/medals/{id}':
    get:
      operationId: medals_show
      parameters:
        - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Medal'
      summary: Get a medal by ID
      tags:
        - medals
  '/medals/{medal_id}/cheers':
    parameters:
      - in: path
        name: medal_id
        required: true
        schema:
          type: integer
    get:
      operationId: medals_cheers_index
      parameters:
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Cheer'
                type: array
      summary: Get list of cheers
      tags:
        - medals
    post:
      operationId: medals_cheers_create
      parameters:
        - in: query
          name: cheer_type_id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Cheer'
      summary: Add a new cheer
      tags:
        - medals
  '/medals/{medal_id}/comments':
    parameters:
      - in: path
        name: medal_id
        required: true
        schema:
          type: integer
    get:
      operationId: medals_comments_index
      parameters:
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Comment'
                type: array
      summary: Get list of comments
      tags:
        - medals
    post:
      operationId: medals_comments_create
      parameters:
        - in: query
          name: notes
          required: true
          schema:
            type: string
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Comment'
      summary: Add a new comment
      tags:
        - medals
  /media:
    post:
      operationId: media_create
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Media'
      summary: Add a new media
      tags:
        - media
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                entry_id:
                  type: integer
                entry_type:
                  type: string
                  default: regular
                file:
                  description: 'The file, support only .JPEG and .PNG format.'
                  type: string
                  format: binary
                notes:
                  description: Informal notes for the entry.
                  type: string
              required:
                - entry_id
                - entry_type
  '/media/{id}':
    parameters:
      - $ref: '#/components/parameters/idParam'
    delete:
      operationId: media_destroy
      responses:
        '200':
          description: No response was specified
      summary: Delete media
      tags:
        - media
    get:
      operationId: media_show
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Media'
      summary: Find media by ID
      tags:
        - media
  /megaphones:
    get:
      operationId: megaphones_index
      parameters:
        - $ref: '#/components/parameters/yearParam'
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Megaphone'
                type: array
      summary: Finds megaphones
      tags:
        - megaphones
    post:
      operationId: megaphones_create
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Megaphone'
      summary: Add a new megaphone
      tags:
        - megaphones
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                organisation_id:
                  type: integer
                notify:
                  description: >-
                    Set to false to skip generating feed entries and
                    notifications; update to true later when media uploads are
                    finished
                  type: boolean
                notes:
                  description: Informal notes for the entry.
                  type: string
              required:
                - organisation_id
                - notes
  /megaphones/years:
    get:
      operationId: megaphones_years_index
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  type: integer
                type: array
      summary: Get list of available years
      tags:
        - megaphones
  '/megaphones/{id}':
    parameters:
      - $ref: '#/components/parameters/idParam'
    delete:
      operationId: megaphones_destroy
      responses:
        '200':
          description: No response was specified
      summary: Delete megaphone entry
      tags:
        - megaphones
    get:
      operationId: megaphones_show
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Megaphone'
      summary: Find megaphone by ID
      tags:
        - megaphones
    put:
      operationId: megaphones_update
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Megaphone'
      summary: Update an existing megaphone
      tags:
        - megaphones
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                notify:
                  description: >-
                    Generates feed entries and notifications when set to true
                    (unless already generated earlier)
                  type: boolean
                notes:
                  description: Informal notes for the entry.
                  type: string
              required:
                - notes
  '/megaphones/{megaphone_id}/cheers':
    parameters:
      - in: path
        name: megaphone_id
        required: true
        schema:
          type: integer
    get:
      operationId: megaphones_cheers_index
      parameters:
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Cheer'
                type: array
      summary: Get list of cheers
      tags:
        - megaphones
    post:
      operationId: megaphones_cheer_create
      parameters:
        - in: query
          name: cheer_type_id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Cheer'
      summary: Add a new cheer
      tags:
        - megaphones
  '/megaphones/{megaphone_id}/comments':
    parameters:
      - in: path
        name: megaphone_id
        required: true
        schema:
          type: integer
    get:
      operationId: megaphones_comments_index
      parameters:
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Comment'
                type: array
      summary: Get list of comments
      tags:
        - megaphones
    post:
      operationId: megaphones_comments_create
      parameters:
        - in: query
          name: notes
          required: true
          schema:
            type: string
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Comment'
      summary: Add a new comment
      tags:
        - megaphones
  '/messages/{id}':
    parameters:
      - $ref: '#/components/parameters/idParam'
    get:
      operationId: messages_show
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Message'
      summary: Find message by ID
      tags:
        - messages
    put:
      operationId: messages_update
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Message'
      summary: Mark as read
      tags:
        - messages
  /notifications:
    get:
      operationId: notifications_index
      parameters:
        - description: ID of the last seen notification
          in: query
          name: after
          schema:
            type: integer
        - description: Return only notifications whose ID is less than this value
          in: query
          name: before
          schema:
            type: integer
        - description: Return only notifications that have been created after given date
          in: query
          name: created_after
          schema:
            type: string
            format: date
        - in: query
          name: unread
          schema:
            type: boolean
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Notification'
                type: array
      summary: Finds notifications
      tags:
        - notifications
    put:
      operationId: notifications_mark_all
      parameters:
        - description: ID of the last seen notification
          in: query
          name: before
          schema:
            type: integer
      responses:
        '200':
          description: No response was specified
      summary: Mark all as read
      tags:
        - notifications
  '/notifications/{id}':
    put:
      operationId: notifications_update
      parameters:
        - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Notification'
      summary: Mark as read
      tags:
        - notifications
  /organisations:
    get:
      operationId: organisations_index
      parameters:
        - description: When 'true' returns organisations where you coach in.
          in: query
          name: coach
          schema:
            type: string
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Organisation'
                type: array
      summary: List of my organisations
      tags:
        - organisations
    post:
      operationId: organisations_join
      parameters:
        - description: Company code for the organisation to join.
          in: query
          name: code
          schema:
            type: string
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Organisation'
      summary: Join an organisation
      tags:
        - organisations
  '/organisations/{id}':
    parameters:
      - $ref: '#/components/parameters/idParam'
    delete:
      operationId: organisations_leave
      responses:
        '200':
          description: No response was specified
      summary: Remove organisation membership
      tags:
        - organisations
    get:
      operationId: organisations_show
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Organisation'
      summary: Find organisation by ID
      tags:
        - organisations
  '/organisations/{organisation_id}/teams':
    get:
      operationId: organisations_teams_index
      parameters:
        - description: The ID of the organisation.
          in: path
          name: organisation_id
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Group'
                type: array
      summary: List all teams belonging to given organisation
      tags:
        - organisations
  '/organisations/{organisation_id}/teams/{id}':
    get:
      operationId: organisations_team_show
      parameters:
        - description: The ID of the organisation.
          in: path
          name: organisation_id
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Group'
      summary: Find team belonging to a given organization
      tags:
        - organisations
  '/organisations/{organisation_id}/teams/{team_id}/members':
    get:
      operationId: organisations_team_members_show
      parameters:
        - description: The ID of the organisation.
          in: path
          name: organisation_id
          required: true
          schema:
            type: integer
        - description: Organization team ID.
          in: path
          name: team_id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/MemberCompact'
                type: array
      summary: List of team members belonging to this organization
      tags:
        - organisations
  '/organisations/{organisation_id}/paths':
    get:
      operationId: organisation_paths_index
      parameters:
        - name: organisation_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/OrganisationPathsSection'
      summary: List of content paths to the organisation
      tags:
        - organisation_paths
  '/organisations/{organisation_id}/paths/{id}':
    get:
      operationId: organisation_paths_show
      parameters:
        - name: organisation_id
          in: path
          required: true
          schema:
            type: integer
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/OrganisationPath'
      summary: Get the organisation path
      tags:
        - organisation_paths
    put:
      operationId: organisation_paths_update
      parameters:
        - name: organisation_id
          in: path
          required: true
          schema:
            type: integer
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/OrganisationPath'
      summary: Assign the organisation path for current user
      tags:
        - organisation_paths
  /personal_programs:
    get:
      operationId: personal_programs_index
      parameters:
        - $ref: '#/components/parameters/yearParam'
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
        - in: query
          name: status
          required: true
          schema:
            type: string
            default: all
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/PersonalProgram'
                type: array
      summary: Finds personal programs
      tags:
        - personal_programs
    post:
      operationId: personal_programs_create
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/PersonalProgram'
      summary: Add a new personal program
      tags:
        - personal_programs
      requestBody:
        $ref: '#/components/requestBodies/personal_programs_create'
  /personal_programs/years:
    get:
      operationId: personal_programs_years_index
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  type: integer
                type: array
      summary: Get list of available years
      tags:
        - personal_programs
  '/personal_programs/{id}':
    parameters:
      - $ref: '#/components/parameters/idParam'
    delete:
      operationId: personal_programs_destroy
      responses:
        '200':
          description: No response was specified
      summary: Delete personal program entry
      tags:
        - personal_programs
    get:
      operationId: personal_programs_show
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/PersonalProgram'
      summary: Find personal program by ID
      tags:
        - personal_programs
  '/personal_programs/{personal_program_id}/cheers':
    parameters:
      - in: path
        name: personal_program_id
        required: true
        schema:
          type: integer
    get:
      operationId: personal_programs_cheers_index
      parameters:
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Cheer'
                type: array
      summary: Get list of cheers
      tags:
        - personal_programs
    post:
      operationId: personal_programs_cheers_create
      parameters:
        - in: query
          name: cheer_type_id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Cheer'
      summary: Add a new cheer
      tags:
        - personal_programs
  '/personal_programs/{personal_program_id}/comments':
    parameters:
      - in: path
        name: personal_program_id
        required: true
        schema:
          type: integer
    get:
      operationId: personal_programs_comments_index
      parameters:
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Comment'
                type: array
      summary: Get list of comments
      tags:
        - personal_programs
    post:
      operationId: personal_programs_comments_create
      parameters:
        - in: query
          name: notes
          required: true
          schema:
            type: string
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Comment'
      summary: Add a new comment
      tags:
        - personal_programs
  '/personal_programs/{personal_program_id}/items':
    get:
      operationId: personal_programs_items_index
      parameters:
        - in: path
          name: personal_program_id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Item'
                type: array
      summary: Get list of personal program items
      tags:
        - personal_programs
  /places:
    post:
      operationId: places_create
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Place'
      summary: Add a new place
      tags:
        - places
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                latitude:
                  description: 'Latitude of the place, as accurate as is known.'
                  type: number
                  format: double
                longitude:
                  description: 'Longitude of the place, as accurate as is known.'
                  type: number
                  format: double
                name:
                  description: The name of the place.
                  type: string
              required:
                - latitude
                - longitude
                - name
  /places/serach:
    get:
      description: The results ordered based on their distance from a given point.
      operationId: places_search
      parameters:
        - description: A search term to be applied against place names.
          in: query
          name: q
          schema:
            type: string
        - name: latitude
          in: query
          description: 'Latitude of the place, as accurate as is known.'
          schema:
            type: number
            format: double
          required: true
        - name: longitude
          in: query
          description: 'Longitude of the place, as accurate as is known.'
          schema:
            type: number
            format: double
          required: true
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Place'
                type: array
      summary: Finds places
      tags:
        - places
  '/places/{id}':
    get:
      operationId: places_show
      parameters:
        - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Place'
      summary: Find place by ID
      tags:
        - places
  /planned_surveys:
    get:
      operationId: planned_surveys_index
      parameters:
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
        - description: Only return entries on given date
          in: query
          name: date
          schema:
            type: string
            format: date
        - description: Return only planned surveys that have been planned after given date
          in: query
          name: planned_after
          schema:
            type: string
            format: date
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/PlannedSurvey'
                type: array
      summary: Finds planned surveys
      tags:
        - planned_surveys
  '/planned_surveys/{id}':
    parameters:
      - $ref: '#/components/parameters/idParam'
    delete:
      operationId: planned_surveys_destroy
      responses:
        '200':
          description: No response was specified
      summary: Delete planned survey
      tags:
        - planned_surveys
    get:
      operationId: planned_surveys_show
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/PlannedSurvey'
      summary: Return planned survey
      tags:
        - planned_surveys
  /point_systems:
    get:
      operationId: point_systems_index
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/PointSystem'
                type: array
      summary: List of user's point systems
      tags:
        - point_systems
  /program_folders:
    get:
      operationId: program_folders_index
      parameters:
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/ProgramFolder'
                type: array
      summary: List of available program folders
      tags:
        - program_folders
  '/program_folders/{id}':
    get:
      operationId: program_folders_show
      parameters:
        - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ProgramFolder'
      summary: Find program folders by ID
      tags:
        - program_folders
  /programs:
    get:
      operationId: programs_index
      parameters:
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Program'
                type: array
      summary: List of available programs
      tags:
        - programs
  '/programs/{id}':
    get:
      operationId: programs_show
      parameters:
        - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Program'
      summary: Find program by ID
      tags:
        - programs
  /pymk:
    get:
      operationId: pymk_index
      parameters:
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/CompactUser'
                type: array
      summary: List of PYMK
      tags:
        - pymk
  /pymk/search:
    get:
      operationId: pymk_search
      parameters:
        - in: query
          name: q
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/CompactUser'
                type: array
      summary: Search PYMK
      tags:
        - pymk
  /recurring_surveys:
    get:
      operationId: recurring_surveys_index
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/SurveyResult'
                type: array
      summary: Finds results for recurring surveys
      tags:
        - recurring_surveys
  /requests:
    get:
      operationId: requests_index
      parameters:
        - description: ID of the last seen request
          in: query
          name: after
          schema:
            type: integer
        - description: Return only requests whose ID is less than this value
          in: query
          name: before
          schema:
            type: integer
        - in: query
          name: status
          schema:
            type: string
            default: open
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Request'
                type: array
      summary: Finds requests
      tags:
        - requests
  '/requests/{id}':
    get:
      operationId: requests_show
      parameters:
        - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Request'
      summary: Find request by ID
      tags:
        - requests
  '/requests/{request_id}/accept':
    patch:
      operationId: requests_accept
      parameters:
        - in: path
          name: request_id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Request'
      summary: Accept request
      tags:
        - requests
  '/requests/{request_id}/reject':
    patch:
      operationId: requests_reject
      parameters:
        - in: path
          name: request_id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Request'
      summary: Reject request
      tags:
        - requests
  /reset_password:
    post:
      operationId: reset_password_create
      responses:
        '200':
          description: No response was specified
      summary: >-
        Request password reset. Sends email with reset link to user's email
        address
      tags:
        - reset_password
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                email:
                  type: string
              required:
                - email
    put:
      operationId: reset_password_update
      responses:
        '200':
          description: No response was specified
      summary: Set a new password
      tags:
        - reset_password
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                token:
                  type: string
                password:
                  description: at least 10 chars
                  type: string
              required:
                - token
                - password
  /sick_days:
    get:
      operationId: sick_days_index
      parameters:
        - $ref: '#/components/parameters/yearParam'
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/SickDay'
                type: array
      summary: Finds sick days
      tags:
        - sick_days
    post:
      operationId: sick_days_create
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/SickDay'
      summary: Add a new sick day
      tags:
        - sick_days
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                date:
                  description: Date of the entry as “YYYY-MM-DD”. Example “2010-04-23”
                  type: string
                  format: date
                notes:
                  description: Informal notes for the entry.
                  type: string
                private:
                  description: By default 'true'
                  type: boolean
              required:
                - date
  /sick_days/years:
    get:
      operationId: sick_days_years_index
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  type: integer
                type: array
      summary: Get list of available years
      tags:
        - sick_days
  '/sick_days/{id}':
    parameters:
      - $ref: '#/components/parameters/idParam'
    delete:
      operationId: sick_days_destroy
      responses:
        '200':
          description: No response was specified
      summary: Delete sick day entry
      tags:
        - sick_days
    get:
      operationId: sick_days_show
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/SickDay'
      summary: Find sick day by ID
      tags:
        - sick_days
    put:
      operationId: sick_days_update
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/SickDay'
      summary: Update an existing sick day
      tags:
        - sick_days
      requestBody:
        $ref: '#/components/requestBodies/free_entries_update'
  '/sick_days/{sick_day_id}/cheers':
    parameters:
      - in: path
        name: sick_day_id
        required: true
        schema:
          type: integer
    get:
      operationId: sick_days_cheers_index
      parameters:
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Cheer'
                type: array
      summary: Get list of cheers
      tags:
        - sick_days
    post:
      operationId: sick_days_cheer_create
      parameters:
        - in: query
          name: cheer_type_id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Cheer'
      summary: Add a new cheer
      tags:
        - sick_days
  '/sick_days/{sick_day_id}/comments':
    parameters:
      - in: path
        name: sick_day_id
        required: true
        schema:
          type: integer
    get:
      operationId: sick_days_comments_index
      parameters:
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Comment'
                type: array
      summary: Get list of comments
      tags:
        - sick_days
    post:
      operationId: sick_days_comments_create
      parameters:
        - in: query
          name: notes
          required: true
          schema:
            type: string
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Comment'
      summary: Add a new comment
      tags:
        - sick_days
  /sport_categories:
    get:
      operationId: sport_categories_index
      parameters:
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/CompactSportCategory'
                type: array
      summary: List of sport categories
      tags:
        - sport_categories
  /sport_categories/all:
    get:
      operationId: sport_categories_all
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/SportCategory'
                type: array
      summary: List of all sport categories
      tags:
        - sport_categories
  '/sport_categories/{id}':
    get:
      operationId: sport_categories_show
      parameters:
        - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/CompactSportCategory'
      summary: Find sport category by ID
      tags:
        - sport_categories
  '/sport_categories/{sport_category_id}/sports':
    get:
      operationId: sport_categories_sports_index
      parameters:
        - in: path
          name: sport_category_id
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Sport'
      summary: Find sports by category ID
      tags:
        - sport_categories
  /sports:
    get:
      operationId: sports_index
      parameters:
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Sport'
                type: array
      summary: Finds sports
      tags:
        - sports
  /sports/all:
    get:
      operationId: sports_all
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Sport'
                type: array
      summary: List of all sports
      tags:
        - sports
  /sports/recommended:
    get:
      operationId: sports_recommended
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Sport'
                type: array
      summary: List of recommended sports
      tags:
        - sports
  '/sports/{id}':
    get:
      operationId: sports_show
      parameters:
        - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Sport'
      summary: Find sport by ID
      tags:
        - sports
  /survey_results:
    get:
      operationId: survey_results_index
      parameters:
        - $ref: '#/components/parameters/yearParam'
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
        - name: survey_id
          in: query
          description: >-
            Return only results associated with given survey. The year
            parameter is ignored when survey_id is present.
          schema:
            type: integer
        - name: planned_survey_id
          in: query
          description: >-
            Fetches survey results associated with given planned survey.
            In practise only returns incomplete results and cannot
            return more than one entry.
          schema:
            type: integer
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/SurveyResult'
                type: array
      summary: Finds survey results
      tags:
        - survey_results
    post:
      operationId: survey_results_create
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/SurveyResult'
      summary: Add a new survey result
      tags:
        - survey_results
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                survey_id:
                  type: integer
                planned_survey_id:
                  type: integer
                complete:
                  description: >-
                    Whether the survey was fully completed or only in part.
                    Default is true
                  type: boolean
                  default: true
                'answers[][question_id]':
                  type: integer
                'answers[][option_ids][]':
                  type: integer
                'answers[][note]':
                  type: string
              required:
                - survey_id
                - 'answers[][question_id]'
                - 'answers[][option_ids][]'
  /survey_results/years:
    get:
      operationId: survey_results_years_index
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  type: integer
                type: array
      summary: Get list of available years
      tags:
        - survey_results
  '/survey_results/{id}':
    parameters:
      - $ref: '#/components/parameters/idParam'
    delete:
      operationId: survey_results_destroy
      responses:
        '200':
          description: No response was specified
      summary: Delete survey result
      tags:
        - survey_results
    get:
      operationId: survey_results_show
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/SurveyResult'
      summary: Find survey result by ID
      tags:
        - survey_results
    put:
      operationId: survey_results_update
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/SurveyResult'
      summary: Update existing incomplete survey result
      tags:
        - survey_results
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                complete:
                  description: >-
                    Whether the survey was fully completed or only in part.
                    Existing state is not changed when this parameter is
                    missing.
                  type: boolean
                'answers[][question_id]':
                  type: integer
                'answers[][option_ids][]':
                  type: integer
                'answers[][note]':
                  type: string
              required:
                - 'answers[][question_id]'
                - 'answers[][option_ids][]'
  '/survey_results/{survey_result_id}/cheers':
    parameters:
      - in: path
        name: survey_result_id
        required: true
        schema:
          type: integer
    get:
      operationId: survey_results_cheers_index
      parameters:
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Cheer'
                type: array
      summary: Get list of cheers
      tags:
        - survey_results
    post:
      operationId: survey_results_cheers_create
      parameters:
        - in: query
          name: cheer_type_id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Cheer'
      summary: Add a new cheer
      tags:
        - survey_results
  '/survey_results/{survey_result_id}/comments':
    parameters:
      - in: path
        name: survey_result_id
        required: true
        schema:
          type: integer
    get:
      operationId: survey_results_comments_index
      parameters:
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Comment'
                type: array
      summary: Get list of comments
      tags:
        - survey_results
    post:
      operationId: survey_results_comments_create
      parameters:
        - in: query
          name: notes
          required: true
          schema:
            type: string
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Comment'
      summary: Add a new comment
      tags:
        - survey_results
  /surveys:
    get:
      operationId: surveys_index
      parameters:
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Survey'
                type: array
      summary: Available surveys
      tags:
        - surveys
  '/surveys/{id}':
    get:
      operationId: surveys_show
      parameters:
        - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Survey'
      summary: Find survey by ID
      tags:
        - surveys
  '/surveys/{survey_id}/personal_programs':
    post:
      operationId: surveys_personal_programs_create
      parameters:
        - in: path
          name: survey_id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/PersonalProgram'
      summary: Add a new personal program
      tags:
        - surveys
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                program_id:
                  type: integer
                parent_personal_program_id:
                  type: integer
              required:
                - program_id
  '/surveys/{survey_id}/programs':
    get:
      operationId: surveys_programs_index
      parameters:
        - in: path
          name: survey_id
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Program'
                type: array
      summary: Recommended programs
      tags:
        - surveys
  /tags:
    get:
      description: >-
        Always returns default tags with type 'strain' and 'commute' even if no
        entries with tags were created.
      operationId: tags_index
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Tag'
                type: array
      summary: Available tags
      tags:
        - tags
  '/tips/{id}':
    get:
      operationId: tips_show
      parameters:
        - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Tip'
      summary: Find tip by ID
      tags:
        - tips
  /top_sports:
    get:
      operationId: top_sports_index
      parameters:
        - $ref: '#/components/parameters/yearParam'
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/TopSport'
                type: array
      summary: Top sports of current user
      tags:
        - top_sports
  /top_sports/years:
    get:
      operationId: top_sports_years_index
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  type: integer
                type: array
      summary: Get list of available years
      tags:
        - top_sports
  '/top_sports/{id}':
    get:
      operationId: top_sports_show
      parameters:
        - $ref: '#/components/parameters/idParam'
        - $ref: '#/components/parameters/yearParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/TopSport'
      summary: Get a sport statistic by sport id
      tags:
        - top_sports
  /training_goals:
    get:
      description: Finds training goals
      operationId: training_goals_index
      parameters:
        - $ref: '#/components/parameters/yearParam'
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/TrainingGoal'
                type: array
      summary: Finds training goals
      tags:
        - training_goals
    post:
      operationId: training_goals_create
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/TrainingGoal'
      summary: Add a new training goal
      tags:
        - training_goals
      requestBody:
        $ref: '#/components/requestBodies/training_goals_create'
  /training_goals/years:
    get:
      operationId: training_goals_years_index
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  type: integer
                type: array
      summary: Get list of available years
      tags:
        - training_goals
  '/training_goals/{id}':
    parameters:
      - $ref: '#/components/parameters/idParam'
    delete:
      operationId: training_goals_destroy
      responses:
        '200':
          description: No response was specified
      summary: Delete training goal
      tags:
        - training_goals
    get:
      operationId: training_goals_show
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/TrainingGoal'
      summary: Get a training goal by ID
      tags:
        - training_goals
    put:
      operationId: training_goals_update
      parameters:
        - description: ID of training goal that needs to be updated
          in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/TrainingGoal'
      summary: Update an existing training goal
      tags:
        - training_goals
      requestBody:
        $ref: '#/components/requestBodies/training_goals_create'
  '/training_goals/{training_goal_id}/cheers':
    parameters:
      - in: path
        name: training_goal_id
        required: true
        schema:
          type: integer
    get:
      operationId: training_goals_cheers_index
      parameters:
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Cheer'
                type: array
      summary: Get list of cheers
      tags:
        - training_goals
    post:
      operationId: training_goals_cheers_create
      parameters:
        - in: query
          name: cheer_type_id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Cheer'
      summary: Add a new cheer
      tags:
        - training_goals
  '/training_goals/{training_goal_id}/comments':
    parameters:
      - in: path
        name: training_goal_id
        required: true
        schema:
          type: integer
    get:
      operationId: training_goals_comments_index
      parameters:
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/Comment'
                type: array
      summary: Get list of comments
      tags:
        - training_goals
    post:
      operationId: training_goals_comments_create
      parameters:
        - in: query
          name: notes
          required: true
          schema:
            type: string
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Comment'
      summary: Add a new comment
      tags:
        - training_goals
  /training_logs:
    get:
      description: Finds training logs
      operationId: training_logs_index
      parameters:
        - description: Status values that need to be considered for filter
          in: query
          name: status
          required: false
          schema:
            type: string
            default: regular
        - description: Only return entries on given date
          in: query
          name: date
          schema:
            type: string
            format: date
        - description: Only return entries on given sport_id
          in: query
          name: sport_id
          schema:
            type: integer
        - $ref: '#/components/parameters/yearParam'
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  $ref: '#/components/schemas/TrainingLog'
                type: array
      summary: Finds training logs
      tags:
        - training_logs
    post:
      description: >-
        Allowed only one tag with type 'strain' for
        entry.<br/>sport_id=2&avg_hr=110&calories=148&comment=Great%20ride%21&date=2010-04-27&duration_h=1&duration_m=15&duration_s=34&favourite=1&max_hr=150&mood=4&sport_param_values[distance]=34.5&sport_param_values[avg_speed]=12&sport_param_values[score]=27
      operationId: training_logs_create
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/TrainingLog'
      summary: Add a new training log
      tags:
        - training_logs
      requestBody:
        $ref: '#/components/requestBodies/training_logs_create'
  /training_logs/years:
    get:
      operationId: training_logs_years_index
      parameters:
        - description: Sport Id values that need to be considered for filter
          in: query
          name: sport_id
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                items:
                  type: integer
                type: array
      summary: Get list of available years
      tags:
        - training_logs
  '/training_logs/{id}':
    parameters:
      - $ref: '#/components/parameters/idParam'
    delete:
      operationId: training_logs_destroy
      responses:
        '200':
          description: No response was specified
      summary: Delete training log entry
      tags:
        - training_logs
    get:
      description: Returns a training log entry based on ID
      operationId: training_logs_show
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/TrainingLog'
      summary: Find training log entry by ID
      tags:
        - training_logs
    put:
      description: >-
        If you want approve entry, just update entry with
        status=regular.<br/>Allowed only one tag with type 'strain' for entry.
      operationId: training_logs_update
      responses:
        '200':
          description: No response was specified
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/TrainingLog'
      summary: Update an existing training log
      tags:
        - training_logs
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                sport_id:
                  description: >-
                    ID of sport that needs to be set. Works only when resource
                    with editable_sport=true
                  type: integer
                planned_entry_id:
                  description: >-
                    ID of entry which will be merged into current entry. Works
                    only when resource with editable_sport=true
                  type: integer
                status:
                  type: string
                  default: regular
                date:
                  description: Date of the entry as “YYYY-MM-DD”. Example “2010-04-23”
                  type: string
                  format: date
                duration_h:
                  description: Duration of the exercise - hours.
                  type: integer
                duration_m:
                  description: Duration of the exercise - minutes.
                  type: integer
                duration_s:
                  description: >-
[...]
