openapi: 3.0.1
info:
  title: api.heiaheia.com
  version: '2'
  description: |
    This document describes how to use the HeiaHeia API.
    - [Authorization](https://github.com/HeiaHeia/api-docs/blob/master/authorization.md)
    - [Authentication](https://github.com/HeiaHeia/api-docs/blob/master/authentication.md)
    - [Error Codes & Responses](https://github.com/HeiaHeia/api-docs/blob/master/errors-responses.md)
    - [Date & DateTime format](https://github.com/HeiaHeia/api-docs/blob/master/date-format.md)
servers:
  - url: 'https://api.heiaheia.com/v2'
tags:
  - name: cheer_types
    description: Cheer types
  - name: comments
    description: Comments
  - name: conversations
    description: Conversations
  - name: emails
    description: Emails
  - name: feeds
    description: Feeds
  - name: free_entries
    description: Free entries
  - name: friends
    description: Friends
  - name: invites
    description: Invites
  - name: items
    description: Items
  - name: libraries
    description: Libraries
  - name: me
    description: Me
  - name: medals
    description: Medals
  - name: media
    description: Media
  - name: megaphones
    description: Megaphones
  - name: messages
    description: Messages
  - name: notifications
    description: Notifications
  - name: organisations
    description: Organisations
  - name: personal_programs
    description: Personal programs
  - name: places
    description: Places
  - name: planned_surveys
    description: Planned surveys
  - name: point_systems
    description: Point systems
  - name: program_folders
    description: Program folders
  - name: programs
    description: Programs
  - name: pymk
    description: PYMK
  - name: recurring_surveys
    description: Recurring surveys
  - name: requests
    description: Requests
  - name: reset_password
    description: Reset password
  - name: sick_days
    description: Sick days
  - name: sport_categories
    description: Sport categories
  - name: sports
    description: Sports
  - name: survey_results
    description: Survey results
  - name: surveys
    description: Surveys
  - name: tags
    description: Tags
  - name: tips
    description: Tips
  - name: top_sports
    description: Top Sports
  - name: training_goals
    description: Training Goals
  - name: training_logs
    description: Training logs
  - name: users
    description: Users
  - name: wearables
    description: Wearable device services
  - name: weekly_point_system_summaries
    description: Weekly point system summaries
  - name: weekly_summaries
    description: Weekly summaries
  - name: weights
    description: Weights
  - name: wellness_entries
    description: Wellness entries
  - name: wellness_types
    description: Wellness entry types
paths:
  /cheer_types:
    get:
      tags:
        - cheer_types
      summary: Available cheer types
      description: Cheers refilled on Monday.
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CheerType'
  '/comments/{id}':
    delete:
      tags:
        - comments
      summary: Delete a comment entry
      parameters:
        - name: id
          in: path
          description: ID of comment that needs to be deleted
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content: {}
  /conversations:
    get:
      tags:
        - conversations
      summary: List of conversations
      parameters:
        - name: by_conversation
          in: query
          description: When true also team related conversations are returned
          schema:
            type: boolean
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Conversation'
    post:
      tags:
        - conversations
      summary: Create or fetch conversation
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                user_id:
                  type: integer
                  description: >-
                    The user for whom to create or fetch a conversation. Either
                    this or group_id must be provided
                  format: int64
                group_id:
                  type: integer
                  description: >-
                    The group for which to create or fetch a conversation.
                    Either this or user_id must be provided
                  format: int64
          multipart/form-data:
            schema:
              properties:
                user_id:
                  type: integer
                  description: >-
                    The user for whom to create or fetch a conversation. Either
                    this or group_id must be provided
                  format: int64
                group_id:
                  type: integer
                  description: >-
                    The group for which to create or fetch a conversation.
                    Either this or user_id must be provided
                  format: int64
          application/json:
            schema:
              properties:
                user_id:
                  type: integer
                  description: >-
                    The user for whom to create or fetch a conversation. Either
                    this or group_id must be provided
                  format: int64
                group_id:
                  type: integer
                  description: >-
                    The group for which to create or fetch a conversation.
                    Either this or user_id must be provided
                  format: int64
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Conversation'
  /conversations/unread:
    get:
      tags:
        - conversations
      summary: List of unread conversations
      parameters:
        - name: by_conversation
          in: query
          description: When true also team related conversations are returned
          schema:
            type: boolean
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Conversation'
  '/conversations/{id}':
    put:
      tags:
        - conversations
      summary: Mark as read
      parameters:
        - name: id
          in: path
          description: >-
            Identifier of the conversation. When by_conversation is omitted or
            false this is the conversation partner (user) id
          required: true
          schema:
            type: integer
            format: int64
        - name: by_conversation
          in: query
          description: Specifies how the id parameter should be handled
          schema:
            type: boolean
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Conversation'
    delete:
      tags:
        - conversations
      summary: >-
        Delete conversation. Note: This operation is currently not allowed when
        by_conversation is true
      parameters:
        - name: id
          in: path
          description: >-
            Identifier of the conversation. When by_conversation is omitted or
            false this is the conversation partner (user) id
          required: true
          schema:
            type: integer
            format: int64
        - name: by_conversation
          in: query
          description: Specifies how the id parameter should be handled
          schema:
            type: boolean
      responses:
        '200':
          description: No response was specified
          content: {}
  '/conversations/{id}/messages':
    get:
      tags:
        - conversations
      summary: Get list of messages from conversation.
      parameters:
        - name: id
          in: path
          description: >-
            Identifier of the conversation. When by_conversation is omitted or
            false this is the conversation partner (user) id
          required: true
          schema:
            type: integer
            format: int64
        - name: by_conversation
          in: query
          description: Specifies how the id parameter should be handled
          schema:
            type: boolean
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Message'
    post:
      tags:
        - conversations
      summary: Create a new message
      parameters:
        - name: id
          in: path
          description: >-
            Identifier of the conversation. When by_conversation is omitted or
            false this is the conversation partner (user) id
          required: true
          schema:
            type: integer
            format: int64
        - name: by_conversation
          in: query
          description: Specifies how the id parameter should be handled
          schema:
            type: boolean
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - body
              properties:
                body:
                  type: string
                  description: Required if image param blank.
                image:
                  type: string
                  description: 'The file, support only .JPEG and .PNG format.'
                  format: binary
          multipart/form-data:
            schema:
              required:
                - body
              properties:
                body:
                  type: string
                  description: Required if image param blank.
                image:
                  type: string
                  description: 'The file, support only .JPEG and .PNG format.'
                  format: binary
          application/json:
            schema:
              required:
                - body
              properties:
                body:
                  type: string
                  description: Required if image param blank.
                image:
                  type: string
                  description: 'The file, support only .JPEG and .PNG format.'
                  format: binary
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Message'
  /email/verify:
    put:
      tags:
        - emails
      summary: Verify email
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                email:
                  type: string
          multipart/form-data:
            schema:
              properties:
                email:
                  type: string
          application/json:
            schema:
              properties:
                email:
                  type: string
      responses:
        '200':
          description: No response was specified
          content: {}
  /feeds:
    get:
      tags:
        - feeds
      summary: Finds feeds
      description: >-
        The 'TextEntry' special kind of entry that can not be cheered and
        commented. This kind of entry contain atttributes 'actor', 'description'
        and 'dictionary'. The 'actor' field is a 'CompactUser' object
        identifying the user who performed the action that resulted in the
        creation of this text entry. The 'description' attribute has special
        format contain embedded entries: <pre>{{User:3}}'s training goal
        ({{TrainingGoal:1}})</pre> <br> The information about embedded entries
        stored in 'dictionary' atrribute in format 'dictionary['kind:id']':
        <pre>{
         "dictionary": {
            "User:3": {
              "kind": "User",
              "name": "Bender Bending Rodríguez",
              "url": "https://api.heiaheia.com/v2/users/3"
            },
            "TrainingGoal:1": {
              "kind": "TrainingGoal",
              "name": "I’m gonna go build my own theme park, with blackjack and hookers!",
              "url": "https://api.heiaheia.com/v2/training_goals/1"
            }
          }
        }</pre>
      parameters:
        - name: since
          in: query
          description: The ID of the feed entry that you’ve seen.
          schema:
            type: integer
            format: int64
        - name: direction
          in: query
          description: Direction
          schema:
            type: string
            default: desc
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Feed'
  '/feeds/{id}':
    get:
      tags:
        - feeds
      summary: Find feed by ID
      description: >-
        The 'TextEntry' special kind of entry that can not be cheered and
        commented. This kind of entry contain atttributes 'actor', 'description'
        and 'dictionary'. The 'actor' field is a 'CompactUser' object
        identifying the user who performed the action that resulted in the
        creation of this text entry. The 'description' attribute has special
        format contain embedded entries: <pre>{{User:3}}'s training goal
        ({{TrainingGoal:1}})</pre> <br> The information about embedded entries
        stored in 'dictionary' atrribute in format 'dictionary['kind:id']':
        <pre>{
         "dictionary": {
            "User:3": {
              "kind": "User",
              "name": "Bender Bending Rodríguez",
              "url": "https://api.heiaheia.com/v2/users/3"
            },
            "TrainingGoal:1": {
              "kind": "TrainingGoal",
              "name": "I’m gonna go build my own theme park, with blackjack and hookers!",
              "url": "https://api.heiaheia.com/v2/training_goals/1"
            }
          }
        }</pre>
      parameters:
        - name: id
          in: path
          description: The id of the feed.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Feed'
  /free_entries:
    get:
      tags:
        - free_entries
      summary: Finds free entries
      parameters:
        - name: year
          in: query
          description: Gets list of entries for given year. Be default it's current year.
          schema:
            type: integer
            format: int32
            default: 2019
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FreeEntry'
    post:
      tags:
        - free_entries
      summary: Add a new free entry
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - date
              properties:
                date:
                  type: string
                  description: Date of the entry as “YYYY-MM-DD”. Example “2010-04-23”
                  format: date
                notes:
                  type: string
                  description: Informal notes for the entry.
                private:
                  type: boolean
          multipart/form-data:
            schema:
              required:
                - date
              properties:
                date:
                  type: string
                  description: Date of the entry as “YYYY-MM-DD”. Example “2010-04-23”
                  format: date
                notes:
                  type: string
                  description: Informal notes for the entry.
                private:
                  type: boolean
          application/json:
            schema:
              required:
                - date
              properties:
                date:
                  type: string
                  description: Date of the entry as “YYYY-MM-DD”. Example “2010-04-23”
                  format: date
                notes:
                  type: string
                  description: Informal notes for the entry.
                private:
                  type: boolean
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FreeEntry'
  /free_entries/years:
    get:
      tags:
        - free_entries
      summary: Get list of available years
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: integer
                  format: int32
  '/free_entries/{free_entry_id}/cheers':
    get:
      tags:
        - free_entries
      summary: Get list of cheers
      parameters:
        - name: free_entry_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cheer'
    post:
      tags:
        - free_entries
      summary: Add a new cheer
      parameters:
        - name: free_entry_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: cheer_type_id
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Cheer'
  '/free_entries/{free_entry_id}/comments':
    get:
      tags:
        - free_entries
      summary: Get list of comments
      parameters:
        - name: free_entry_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Comment'
    post:
      tags:
        - free_entries
      summary: Add a new comment
      parameters:
        - name: free_entry_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: notes
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Comment'
  '/free_entries/{id}':
    get:
      tags:
        - free_entries
      summary: Find free entry by ID
      parameters:
        - name: id
          in: path
          description: The id of the free entry.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FreeEntry'
    put:
      tags:
        - free_entries
      summary: Update an existing free entry
      parameters:
        - name: id
          in: path
          description: ID of free entry that needs to be updated
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                date:
                  type: string
                  description: Date of the entry as “YYYY-MM-DD”. Example “2010-04-23”
                  format: date
                notes:
                  type: string
                  description: Informal notes for the entry.
                private:
                  type: boolean
          multipart/form-data:
            schema:
              properties:
                date:
                  type: string
                  description: Date of the entry as “YYYY-MM-DD”. Example “2010-04-23”
                  format: date
                notes:
                  type: string
                  description: Informal notes for the entry.
                private:
                  type: boolean
          application/json:
            schema:
              properties:
                date:
                  type: string
                  description: Date of the entry as “YYYY-MM-DD”. Example “2010-04-23”
                  format: date
                notes:
                  type: string
                  description: Informal notes for the entry.
                private:
                  type: boolean
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FreeEntry'
    delete:
      tags:
        - free_entries
      summary: Delete free entry
      parameters:
        - name: id
          in: path
          description: ID of free entry that needs to be deleted
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content: {}
  /friends:
    get:
      tags:
        - friends
      summary: My friends
      parameters:
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompactUser'
  /friends/requests:
    get:
      tags:
        - friends
      summary: My friend requests
      parameters:
        - name: status
          in: query
          description: >-
            <pre>pending</pre> when you sent the friend request
            <pre>requested</pre> when friend request was sent to you
          required: true
          schema:
            type: string
            default: requested
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompactUser'
  '/friends/{user_id}':
    put:
      tags:
        - friends
      summary: Create or accept friendship requests
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CompactUser'
    delete:
      tags:
        - friends
      summary: Decline friendship requests or delete users from friends
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content: {}
  /invites:
    post:
      tags:
        - invites
      summary: Send an invitation for yourself.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - company_code
                - email
                - first_name
              properties:
                company_code:
                  type: string
                email:
                  type: string
                first_name:
                  type: string
                last_name:
                  type: string
          multipart/form-data:
            schema:
              required:
                - company_code
                - email
                - first_name
              properties:
                company_code:
                  type: string
                email:
                  type: string
                first_name:
                  type: string
                last_name:
                  type: string
          application/json:
            schema:
              required:
                - company_code
                - email
                - first_name
              properties:
                company_code:
                  type: string
                email:
                  type: string
                first_name:
                  type: string
                last_name:
                  type: string
        required: true
      responses:
        '200':
          description: No response was specified
          content: {}
  '/invites/{id}':
    get:
      tags:
        - invites
      summary: Find invite by ID
      parameters:
        - name: id
          in: path
          description: The id of the invite.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Invite'
  /items:
    get:
      tags:
        - items
      summary: Finds items
      parameters:
        - name: year
          in: query
          description: Gets list of entries for given year. Be default it's current year.
          schema:
            type: integer
            format: int32
            default: 2019
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Item'
  /items/agenda:
    get:
      tags:
        - items
      summary: Finds agenda items
      parameters:
        - name: start_date
          in: path
          description: Fetch agenda starting from this date (inclusive)
          required: true
          schema:
            type: string
            format: date
        - name: end_date
          in: path
          description: Fetch agenda until this date (inclusive)
          required: true
          schema:
            type: string
            format: date
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Item'
  /items/years:
    get:
      tags:
        - items
      summary: Get list of available years
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: integer
                  format: int32
  '/items/{id}':
    get:
      tags:
        - items
      summary: Find item by ID
      parameters:
        - name: id
          in: path
          description: The id of the item.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Item'
  /libraries:
    get:
      tags:
        - libraries
      summary: Lists available content libraries
      parameters:
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Library'
  /libraries/training_logs:
    post:
      tags:
        - libraries
      summary: Clone a training log entry
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - date
                - id
                - status
              properties:
                id:
                  type: integer
                  description: ID of training log entry from the library
                  format: int64
                date:
                  type: string
                  description: Date of the entry as “YYYY-MM-DD”. Example “2010-04-23”
                  format: date
                status:
                  type: string
                  default: regular
          multipart/form-data:
            schema:
              required:
                - date
                - id
                - status
              properties:
                id:
                  type: integer
                  description: ID of training log entry from the library
                  format: int64
                date:
                  type: string
                  description: Date of the entry as “YYYY-MM-DD”. Example “2010-04-23”
                  format: date
                status:
                  type: string
                  default: regular
          application/json:
            schema:
              required:
                - date
                - id
                - status
              properties:
                id:
                  type: integer
                  description: ID of training log entry from the library
                  format: int64
                date:
                  type: string
                  description: Date of the entry as “YYYY-MM-DD”. Example “2010-04-23”
                  format: date
                status:
                  type: string
                  default: regular
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TrainingLog'
  /libraries/wellness_entries:
    post:
      tags:
        - libraries
      summary: Clone a wellness entry
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - date
                - id
                - status
              properties:
                id:
                  type: integer
                  description: ID of wellness entry from the library
                  format: int64
                date:
                  type: string
                  description: Date of the entry as “YYYY-MM-DD”. Example “2010-04-23”
                  format: date
                status:
                  type: string
                  default: regular
          multipart/form-data:
            schema:
              required:
                - date
                - id
                - status
              properties:
                id:
                  type: integer
                  description: ID of wellness entry from the library
                  format: int64
                date:
                  type: string
                  description: Date of the entry as “YYYY-MM-DD”. Example “2010-04-23”
                  format: date
                status:
                  type: string
                  default: regular
          application/json:
            schema:
              required:
                - date
                - id
                - status
              properties:
                id:
                  type: integer
                  description: ID of wellness entry from the library
                  format: int64
                date:
                  type: string
                  description: Date of the entry as “YYYY-MM-DD”. Example “2010-04-23”
                  format: date
                status:
                  type: string
                  default: regular
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WellnessEntry'
  /libraries/workouts:
    get:
      tags:
        - libraries
      summary: List of available workouts
      description: >-
        More information about structure can ba found here:
        https://paper.dropbox.com/doc/Better-Life-API-description--AWHof1lxWZLkWJxRpAf4_UVkAg-zYuIzunnfjOtijGR5BiwX#:uid=038703152342316731380785&h2=Workout-Library
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: object
  '/libraries/{id}':
    get:
      tags:
        - libraries
      summary: Find library by ID
      parameters:
        - name: id
          in: path
          description: The id of the library.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Library'
  '/libraries/{library_id}/folders':
    get:
      tags:
        - libraries
      summary: List library folders
      parameters:
        - name: library_id
          in: path
          description: The id of the library whose folders to list.
          required: true
          schema:
            type: integer
            format: int64
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LibraryFolder'
  '/libraries/{library_id}/folders/{folder_id}/items':
    get:
      tags:
        - libraries
      summary: List library folder items
      parameters:
        - name: library_id
          in: path
          description: The id of the library containing the folder whose items to list.
          required: true
          schema:
            type: integer
            format: int64
        - name: folder_id
          in: path
          description: The id of the folder whose items to list.
          required: true
          schema:
            type: integer
            format: int64
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LibraryItem'
  '/libraries/{library_id}/folders/{folder_id}/items/{id}':
    get:
      tags:
        - libraries
      summary: Find library item by ID
      parameters:
        - name: library_id
          in: path
          description: The id of the library.
          required: true
          schema:
            type: integer
            format: int64
        - name: folder_id
          in: path
          description: The id of the folder.
          required: true
          schema:
            type: integer
            format: int64
        - name: id
          in: path
          description: The id of the item.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LibraryItem'
  '/libraries/{library_id}/folders/{id}':
    get:
      tags:
        - libraries
      summary: Find library folder by ID
      parameters:
        - name: library_id
          in: path
          description: The id of the library.
          required: true
          schema:
            type: integer
            format: int64
        - name: id
          in: path
          description: The id of the folder.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LibraryFolder'
  '/libraries/{library_id}/items':
    get:
      tags:
        - libraries
      summary: List library item
      parameters:
        - name: library_id
          in: path
          description: The id of the library whose items to list.
          required: true
          schema:
            type: integer
            format: int64
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LibraryItem'
  '/libraries/{library_id}/items/{id}':
    get:
      tags:
        - libraries
      summary: Find library item by ID
      parameters:
        - name: library_id
          in: path
          description: The id of the library.
          required: true
          schema:
            type: integer
            format: int64
        - name: id
          in: path
          description: The id of the item.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LibraryItem'
  /me:
    get:
      tags:
        - me
      summary: Logged in user
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/User'
    put:
      tags:
        - me
      summary: Update logged in user
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                locale:
                  type: string
                measurement_units:
                  type: string
                privacy:
                  type: string
                birthdate:
                  type: string
                  description: Format YYYY-MM-DD
                  format: date
                gender:
                  type: string
                my_sports:
                  type: string
                records_and_highlights:
                  type: string
                linked_with_mixpanel:
                  type: boolean
                daily_steps_target:
                  type: integer
                  format: int32
                sleep_target:
                  type: integer
                  description: Daily sleep target in minutes
                  format: int32
          multipart/form-data:
            schema:
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                locale:
                  type: string
                measurement_units:
                  type: string
                privacy:
                  type: string
                birthdate:
                  type: string
                  description: Format YYYY-MM-DD
                  format: date
                gender:
                  type: string
                my_sports:
                  type: string
                records_and_highlights:
                  type: string
                linked_with_mixpanel:
                  type: boolean
                daily_steps_target:
                  type: integer
                  format: int32
                sleep_target:
                  type: integer
                  description: Daily sleep target in minutes
                  format: int32
          application/json:
            schema:
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                locale:
                  type: string
                measurement_units:
                  type: string
                privacy:
                  type: string
                birthdate:
                  type: string
                  description: Format YYYY-MM-DD
                  format: date
                gender:
                  type: string
                my_sports:
                  type: string
                records_and_highlights:
                  type: string
                linked_with_mixpanel:
                  type: boolean
                daily_steps_target:
                  type: integer
                  format: int32
                sleep_target:
                  type: integer
                  description: Daily sleep target in minutes
                  format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/User'
    delete:
      tags:
        - me
      summary: Deletes the user account of the logged in user
      responses:
        '200':
          description: No response was specified
          content: {}
  /me/avatar:
    put:
      tags:
        - me
      summary: Update user avatar
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                image:
                  type: string
                  description: >-
                    The image should be square size, support only .JPEG and .PNG
                    format.
                  format: binary
          multipart/form-data:
            schema:
              properties:
                image:
                  type: string
                  description: >-
                    The image should be square size, support only .JPEG and .PNG
                    format.
                  format: binary
          application/json:
            schema:
              properties:
                image:
                  type: string
                  description: >-
                    The image should be square size, support only .JPEG and .PNG
                    format.
                  format: binary
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CompactUser'
    delete:
      tags:
        - me
      summary: Delete avatar
      responses:
        '200':
          description: No response was specified
          content: {}
  /me/consents:
    get:
      tags:
        - me
      summary: List the consents the user has given
      parameters:
        - name: scope
          in: query
          description: >-
            Restricts consents to return by scope. Supported scopes are 'hh' and
            'org_surveys'.
          schema:
            type: string
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserConsent'
    post:
      tags:
        - me
      summary: Adds new consent given by the user
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                scope:
                  type: string
                  description: >-
                    The scope of the given consent. Supported scopes are 'hh'
                    and 'org_surveys'.
                consent_type:
                  type: string
                  description: >-
                    The type of consent that was given. Supported types are
                    'terms_of_service' and 'privacy_policy'.
          multipart/form-data:
            schema:
              properties:
                scope:
                  type: string
                  description: >-
                    The scope of the given consent. Supported scopes are 'hh'
                    and 'org_surveys'.
                consent_type:
                  type: string
                  description: >-
                    The type of consent that was given. Supported types are
                    'terms_of_service' and 'privacy_policy'.
          application/json:
            schema:
              properties:
                scope:
                  type: string
                  description: >-
                    The scope of the given consent. Supported scopes are 'hh'
                    and 'org_surveys'.
                consent_type:
                  type: string
                  description: >-
                    The type of consent that was given. Supported types are
                    'terms_of_service' and 'privacy_policy'.
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserConsent'
  /medals:
    get:
      tags:
        - medals
      summary: Medals of current user
      parameters:
        - name: year
          in: query
          description: Gets list of entries for given year. Be default it's current year.
          schema:
            type: integer
            format: int32
            default: 2019
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Medal'
  /medals/years:
    get:
      tags:
        - medals
      summary: Get list of available years
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: integer
                  format: int32
  '/medals/{id}':
    get:
      tags:
        - medals
      summary: Get a medal by ID
      parameters:
        - name: id
          in: path
          description: The id of the medal
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Medal'
  '/medals/{medal_id}/cheers':
    get:
      tags:
        - medals
      summary: Get list of cheers
      parameters:
        - name: medal_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cheer'
    post:
      tags:
        - medals
      summary: Add a new cheer
      parameters:
        - name: medal_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: cheer_type_id
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Cheer'
  '/medals/{medal_id}/comments':
    get:
      tags:
        - medals
      summary: Get list of comments
      parameters:
        - name: medal_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Comment'
    post:
      tags:
        - medals
      summary: Add a new comment
      parameters:
        - name: medal_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: notes
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Comment'
  /media:
    post:
      tags:
        - media
      summary: Add a new media
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - entry_id
                - entry_type
              properties:
                entry_id:
                  type: integer
                  format: int64
                entry_type:
                  type: string
                  default: regular
                file:
                  type: string
                  description: 'The file, support only .JPEG and .PNG format.'
                  format: binary
                notes:
                  type: string
                  description: Informal notes for the entry.
          multipart/form-data:
            schema:
              required:
                - entry_id
                - entry_type
              properties:
                entry_id:
                  type: integer
                  format: int64
                entry_type:
                  type: string
                  default: regular
                file:
                  type: string
                  description: 'The file, support only .JPEG and .PNG format.'
                  format: binary
                notes:
                  type: string
                  description: Informal notes for the entry.
          application/json:
            schema:
              required:
                - entry_id
                - entry_type
              properties:
                entry_id:
                  type: integer
                  format: int64
                entry_type:
                  type: string
                  default: regular
                file:
                  type: string
                  description: 'The file, support only .JPEG and .PNG format.'
                  format: binary
                notes:
                  type: string
                  description: Informal notes for the entry.
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Media'
  '/media/{id}':
    get:
      tags:
        - media
      summary: Find media by ID
      parameters:
        - name: id
          in: path
          description: The id of the media.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Media'
    delete:
      tags:
        - media
      summary: Delete media
      parameters:
        - name: id
          in: path
          description: ID of media that needs to be deleted
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content: {}
  /megaphones:
    get:
      tags:
        - megaphones
      summary: Finds megaphones
      parameters:
        - name: year
          in: query
          description: Gets list of entries for given year. Be default it's current year.
          schema:
            type: integer
            format: int32
            default: 2019
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Megaphone'
    post:
      tags:
        - megaphones
      summary: Add a new megaphone
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - notes
                - organisation_id
              properties:
                organisation_id:
                  type: integer
                  format: int64
                notify:
                  type: boolean
                  description: >-
                    Set to false to skip generating feed entries and
                    notifications; update to true later when media uploads are
                    finished
                notes:
                  type: string
                  description: Informal notes for the entry.
          multipart/form-data:
            schema:
              required:
                - notes
                - organisation_id
              properties:
                organisation_id:
                  type: integer
                  format: int64
                notify:
                  type: boolean
                  description: >-
                    Set to false to skip generating feed entries and
                    notifications; update to true later when media uploads are
                    finished
                notes:
                  type: string
                  description: Informal notes for the entry.
          application/json:
            schema:
              required:
                - notes
                - organisation_id
              properties:
                organisation_id:
                  type: integer
                  format: int64
                notify:
                  type: boolean
                  description: >-
                    Set to false to skip generating feed entries and
                    notifications; update to true later when media uploads are
                    finished
                notes:
                  type: string
                  description: Informal notes for the entry.
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Megaphone'
  /megaphones/years:
    get:
      tags:
        - megaphones
      summary: Get list of available years
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: integer
                  format: int32
  '/megaphones/{id}':
    get:
      tags:
        - megaphones
      summary: Find megaphone by ID
      parameters:
        - name: id
          in: path
          description: The id of the megaphone.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Megaphone'
    put:
      tags:
        - megaphones
      summary: Update an existing megaphone
      parameters:
        - name: id
          in: path
          description: The id of the megaphone.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - notes
              properties:
                notify:
                  type: boolean
                  description: >-
                    Generates feed entries and notifications when set to true
                    (unless already generated earlier)
                notes:
                  type: string
                  description: Informal notes for the entry.
          multipart/form-data:
            schema:
              required:
                - notes
              properties:
                notify:
                  type: boolean
                  description: >-
                    Generates feed entries and notifications when set to true
                    (unless already generated earlier)
                notes:
                  type: string
                  description: Informal notes for the entry.
          application/json:
            schema:
              required:
                - notes
              properties:
                notify:
                  type: boolean
                  description: >-
                    Generates feed entries and notifications when set to true
                    (unless already generated earlier)
                notes:
                  type: string
                  description: Informal notes for the entry.
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Megaphone'
    delete:
      tags:
        - megaphones
      summary: Delete megaphone entry
      parameters:
        - name: id
          in: path
          description: ID of megaphone entry that needs to be deleted
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content: {}
  '/megaphones/{megaphone_id}/cheers':
    get:
      tags:
        - megaphones
      summary: Get list of cheers
      parameters:
        - name: megaphone_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cheer'
    post:
      tags:
        - megaphones
      summary: Add a new cheer
      parameters:
        - name: megaphone_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: cheer_type_id
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Cheer'
  '/megaphones/{megaphone_id}/comments':
    get:
      tags:
        - megaphones
      summary: Get list of comments
      parameters:
        - name: megaphone_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Comment'
    post:
      tags:
        - megaphones
      summary: Add a new comment
      parameters:
        - name: megaphone_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: notes
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Comment'
  '/messages/{id}':
    get:
      tags:
        - messages
      summary: Find message by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Message'
    put:
      tags:
        - messages
      summary: Mark as read
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Message'
  /notifications:
    get:
      tags:
        - notifications
      summary: Finds notifications
      parameters:
        - name: after
          in: query
          description: ID of the last seen notification
          schema:
            type: integer
            format: int64
        - name: before
          in: query
          description: Return only notifications whose ID is less than this value
          schema:
            type: integer
            format: int64
        - name: created_after
          in: query
          description: Return only notifications that have been created after given date
          schema:
            type: string
            format: date
        - name: unread
          in: query
          schema:
            type: boolean
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Notification'
    put:
      tags:
        - notifications
      summary: Mark all as read
      parameters:
        - name: before
          in: query
          description: ID of the last seen notification
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content: {}
  '/notifications/{id}':
    put:
      tags:
        - notifications
      summary: Mark as read
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Notification'
  /organisations:
    get:
      tags:
        - organisations
      summary: List of my organisations
      parameters:
        - name: coach
          in: query
          description: When 'true' returns organisations where you coach in.
          schema:
            type: string
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organisation'
    post:
      tags:
        - organisations
      summary: Join an organisation
      parameters:
        - name: code
          in: query
          description: Company code for the organisation to join.
          schema:
            type: string
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Organisation'
  '/organisations/{id}':
    get:
      tags:
        - organisations
      summary: Find organisation by ID
      parameters:
        - name: id
          in: path
          description: The ID of the organisation.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Organisation'
    delete:
      tags:
        - organisations
      summary: Remove organisation membership
      parameters:
        - name: id
          in: path
          description: The ID of the organisation to unjoin.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content: {}
  '/organisations/{organisation_id}/teams':
    get:
      tags:
        - organisations
      summary: List all teams belonging to given organisation
      parameters:
        - name: organisation_id
          in: path
          description: The ID of the organisation.
          required: true
          schema:
            type: integer
            format: int64
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Group'
  /personal_programs:
    get:
      tags:
        - personal_programs
      summary: Finds personal programs
      parameters:
        - name: year
          in: query
          description: Gets list of entries for given year. Be default it's current year.
          schema:
            type: integer
            format: int32
            default: 2019
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
        - name: status
          in: query
          required: true
          schema:
            type: string
            default: all
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PersonalProgram'
    post:
      tags:
        - personal_programs
      summary: Add a new personal program
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - program_id
                - start_date
              properties:
                program_id:
                  type: integer
                  format: int64
                start_date:
                  type: string
                  description: Only monday
                  format: date
          multipart/form-data:
            schema:
              required:
                - program_id
                - start_date
              properties:
                program_id:
                  type: integer
                  format: int64
                start_date:
                  type: string
                  description: Only monday
                  format: date
          application/json:
            schema:
              required:
                - program_id
                - start_date
              properties:
                program_id:
                  type: integer
                  format: int64
                start_date:
                  type: string
                  description: Only monday
                  format: date
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PersonalProgram'
  /personal_programs/years:
    get:
      tags:
        - personal_programs
      summary: Get list of available years
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: integer
                  format: int32
  '/personal_programs/{id}':
    get:
      tags:
        - personal_programs
      summary: Find personal program by ID
      parameters:
        - name: id
          in: path
          description: The id of the personal program.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PersonalProgram'
    delete:
      tags:
        - personal_programs
      summary: Delete personal program entry
      parameters:
        - name: id
          in: path
          description: ID of personal program that needs to be deleted
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content: {}
  '/personal_programs/{personal_program_id}/cheers':
    get:
      tags:
        - personal_programs
      summary: Get list of cheers
      parameters:
        - name: personal_program_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cheer'
    post:
      tags:
        - personal_programs
      summary: Add a new cheer
      parameters:
        - name: personal_program_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: cheer_type_id
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Cheer'
  '/personal_programs/{personal_program_id}/comments':
    get:
      tags:
        - personal_programs
      summary: Get list of comments
      parameters:
        - name: personal_program_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Comment'
    post:
      tags:
        - personal_programs
      summary: Add a new comment
      parameters:
        - name: personal_program_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: notes
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Comment'
  '/personal_programs/{personal_program_id}/items':
    get:
      tags:
        - personal_programs
      summary: Get list of personal program items
      parameters:
        - name: personal_program_id
          in: path
          description: The id of the personal program.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Item'
  /places:
    post:
      tags:
        - places
      summary: Add a new place
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - latitude
                - longitude
                - name
              properties:
                latitude:
                  type: number
                  description: 'Latitude of the place, as accurate as is known.'
                  format: double
                longitude:
                  type: number
                  description: 'Longitude of the place, as accurate as is known.'
                  format: double
                name:
                  type: string
                  description: The name of the place.
          multipart/form-data:
            schema:
              required:
                - latitude
                - longitude
                - name
              properties:
                latitude:
                  type: number
                  description: 'Latitude of the place, as accurate as is known.'
                  format: double
                longitude:
                  type: number
                  description: 'Longitude of the place, as accurate as is known.'
                  format: double
                name:
                  type: string
                  description: The name of the place.
          application/json:
            schema:
              required:
                - latitude
                - longitude
                - name
              properties:
                latitude:
                  type: number
                  description: 'Latitude of the place, as accurate as is known.'
                  format: double
                longitude:
                  type: number
                  description: 'Longitude of the place, as accurate as is known.'
                  format: double
                name:
                  type: string
                  description: The name of the place.
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Place'
  /places/search:
    get:
      tags:
        - places
      summary: Finds places
      description: The results ordered based on their distance from a given point.
      parameters:
        - name: q
          in: query
          description: A search term to be applied against place names.
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
        - name: latitude
          in: query
          description: 'Latitude of the place, as accurate as is known.'
          schema:
            type: number
            format: double
        - name: longitude
          in: query
          schema:
            type: number
            format: double
          description: 'Longitude of the place, as accurate as is known.'
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Place'
  '/places/{id}':
    get:
      tags:
        - places
      summary: Find place by ID
      parameters:
        - name: id
          in: path
          description: The id of the place.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Place'
  /planned_surveys:
    get:
      tags:
        - planned_surveys
      summary: Finds planned surveys
      parameters:
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
        - name: date
          in: query
          description: Only return entries on given date
          schema:
            type: string
            format: date
        - name: planned_after
          in: query
          description: Return only planned surveys that have been planned after given date
          schema:
            type: string
            format: date
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlannedSurvey'
  '/planned_surveys/{id}':
    get:
      tags:
        - planned_surveys
      parameters:
        - name: id
          in: path
          description: ID of planned that needs to be deleted
          required: true
          schema:
            type: integer
            format: int64
      summary: Return planned survey
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PlannedSurvey'
    delete:
      tags:
        - planned_surveys
      summary: Delete planned survey
      parameters:
        - name: id
          in: path
          description: ID of planned that needs to be deleted
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content: {}
  /point_systems:
    get:
      tags:
        - point_systems
      summary: List of user's point systems
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PointSystem'
  /program_folders:
    get:
      tags:
        - program_folders
      summary: List of available program folders
      parameters:
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProgramFolder'
  '/program_folders/{id}':
    get:
      tags:
        - program_folders
      summary: Find program folders by ID
      parameters:
        - name: id
          in: path
          description: The id of the program folder
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProgramFolder'
  /programs:
    get:
      tags:
        - programs
      summary: List of available programs
      parameters:
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Program'
  '/programs/{id}':
    get:
      tags:
        - programs
      summary: Find program by ID
      parameters:
        - name: id
          in: path
          description: The id of the program.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Program'
  /pymk:
    get:
      tags:
        - pymk
      summary: List of PYMK
      parameters:
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompactUser'
  /pymk/search:
    get:
      tags:
        - pymk
      summary: Search PYMK
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompactUser'
  /recurring_surveys:
    get:
      tags:
        - recurring_surveys
      summary: Finds results for recurring surveys
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SurveyResult'
  /requests:
    get:
      tags:
        - requests
      summary: Finds requests
      parameters:
        - name: after
          in: query
          description: ID of the last seen request
          schema:
            type: integer
            format: int64
        - name: before
          in: query
          description: Return only requests whose ID is less than this value
          schema:
            type: integer
            format: int64
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
        - name: status
          in: query
          schema:
            type: string
            default: open
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Request'
  '/requests/{id}':
    get:
      tags:
        - requests
      summary: Find request by ID
      parameters:
        - name: id
          in: path
          description: The id of the request.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Request'
  '/requests/{id}/accept':
    patch:
      parameters:
        - name: id
          in: path
          description: The id of the request.
          required: true
          schema:
            type: integer
            format: int64
      tags:
        - requests
      summary: Accept request
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Request'
  '/requests/{id}/reject':
    patch:
      parameters:
        - name: id
          in: path
          description: The id of the request.
          required: true
          schema:
            type: integer
            format: int64
      tags:
        - requests
      summary: Reject request
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Request'
  /reset_password:
    put:
      tags:
        - reset_password
      summary: Set a new password
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - password
                - token
              properties:
                token:
                  type: string
                password:
                  type: string
                  description: at least 10 chars
          multipart/form-data:
            schema:
              required:
                - password
                - token
              properties:
                token:
                  type: string
                password:
                  type: string
                  description: at least 10 chars
          application/json:
            schema:
              required:
                - password
                - token
              properties:
                token:
                  type: string
                password:
                  type: string
                  description: at least 10 chars
        required: true
      responses:
        '200':
          description: No response was specified
          content: {}
    post:
      tags:
        - reset_password
      summary: >-
        Request password reset. Sends email with reset link to user's email
        address
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - email
              properties:
                email:
                  type: string
          multipart/form-data:
            schema:
              required:
                - email
              properties:
                email:
                  type: string
          application/json:
            schema:
              required:
                - email
              properties:
                email:
                  type: string
        required: true
      responses:
        '200':
          description: No response was specified
          content: {}
  /sick_days:
    get:
      tags:
        - sick_days
      summary: Finds sick days
      parameters:
        - name: year
          in: query
          description: Gets list of entries for given year. Be default it's current year.
          schema:
            type: integer
            format: int32
            default: 2019
        - name: page
          in: query
          schema:
            type: string
            format: byte
        - name: per_page
          in: query
          description: Per page between 1 and 100
          schema:
            type: string
            format: byte
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SickDay'
    post:
      tags:
        - sick_days
      summary: Add a new sick day
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - date
              properties:
                date:
                  type: string
                  description: Date of the entry as “YYYY-MM-DD”. Example “2010-04-23”
                  format: date
                notes:
                  type: string
                  description: Informal notes for the entry.
                private:
                  type: boolean
                  description: By default 'true'
          multipart/form-data:
            schema:
              required:
                - date
              properties:
                date:
                  type: string
                  description: Date of the entry as “YYYY-MM-DD”. Example “2010-04-23”
                  format: date
                notes:
                  type: string
                  description: Informal notes for the entry.
                private:
                  type: boolean
                  description: By default 'true'
          application/json:
            schema:
              required:
                - date
              properties:
                date:
                  type: string
                  description: Date of the entry as “YYYY-MM-DD”. Example “2010-04-23”
                  format: date
                notes:
                  type: string
                  description: Informal notes for the entry.
                private:
                  type: boolean
                  description: By default 'true'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SickDay'
  /sick_days/years:
    get:
      tags:
        - sick_days
      summary: Get list of available years
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: integer
                  format: int32
  '/sick_days/{id}':
    get:
      tags:
        - sick_days
      summary: Find sick day by ID
      parameters:
        - name: id
          in: path
          description: The id of the sick day.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SickDay'
    put:
      tags:
        - sick_days
      summary: Update an existing sick day
      parameters:
        - name: id
          in: path
          description: ID of sick day that needs to be updated
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                date:
                  type: string
                  description: Date of the entry as “YYYY-MM-DD”. Example “2010-04-23”
                  format: date
                notes:
                  type: string
                  description: Informal notes for the entry.
                private:
                  type: boolean
          multipart/form-data:
            schema:
              properties:
                date:
                  type: string
                  description: Date of the entry as “YYYY-MM-DD”. Example “2010-04-23”
                  format: date
                notes:
                  type: string
                  description: Informal notes for the entry.
                private:
                  type: boolean
          application/json:
            schema:
              properties:
                date:
                  type: string
                  description: Date of the entry as “YYYY-MM-DD”. Example “2010-04-23”
                  format: date
                notes:
                  type: string
                  description: Informal notes for the entry.
                private:
[...]
