<h1>Date format</h1>

<p>All timestamps are returned in <a href="http://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8601</a> format.</p>
<br/>

<p>Date:</p>
<div class="snippet">
  <pre>
<code class="json">YYYY-MM-DD => 2013-09-02</code></pre>
</div>
<br/>

<p>DateTime:</p>
<div class="snippet">
  <pre>
<code class="json">YYYY-MM-DDThh:mm:ss±hh:mm => 2013-09-02T15:29:00+02:00</code></pre>
</div>
