openapi: 3.0.0
servers:
  - url: 'https://api.heiaheia.com'
    description: "Production"
  - url: 'https://api.h2hstage.com'
    description: "Staging"
  - url: 'http://api.hh.test'
    description: "Development"
info:
  description: |
    This document describes how to use the HeiaHeia admin API.
    
    Authentication
    ==============
    
    For basic resource owner flow one needs to start by making a call to the
    `/oauth/token` resource:
    
    `POST /oauth/token?username=foo@example.com&password=bar&client_id=id&client_secret=secret`
    
    The server responds with a JSON object containing, among other things,
    the access token:
    
    `{"access_token": "secret_token"}`
    
    For any subsequent calls the access token must be passed either as a
    query parameter (`access_token=secret_token`) or as a header
    (`Authorization: Bearer secret_token`).
  version: '1.0.1'
  title: HeiaHeia Admin API
  termsOfService: 'https://www.hintsa.com/terms/'
  contact:
    email: admin@luotaamo.fi
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
tags:
  - name: organisations
    description: Operations for managing organisations
  - name: memberships
    description: >-
      Operations for managing user accounts / user memberships in 
      organisation
  - name: scheduled surveys
    description: Operations for managing scheduled surveys
  - name: surveys
    description: Operations for fetching surveys
  - name: reports
    description: Operations for managing reports
  - name: tags
    description: Operations for managing organisation tags
  - name: teams
    description: Operations for managing organisation teams
  - name: updates
    description: Operations for following data changes on server
  - name: membership mass actions
    description: >-
      Mass operations that perform operations for a set of users.
      Since the mass operations can affect a large number of users
      and take considerable amount of time, they are performed in
      the background and caller should poll the `actions/{id}` API
      to follow the progress of operation. Note that technically it
      is possible for the operation to complete immediately and the
      caller must be prepared for that too.
  - name: membership imports
    description: >-
      Operations for managing importing users from CSV files
  - name: authentication
    description: >-
      Operations for managing authentication
paths:
  /admin/v1/documents/organisations:
    get:
      tags:
        - organisations
      summary: >-
        List all organisations that can be administered by calling
        user
      operationId: listOrganisations
      parameters:
        - $ref: '#/components/parameters/total_required'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Organisations were successfully fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrganisationsResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/documents/organisations/{id}':
    get:
      tags:
        - organisations
      summary: Return details for a specific organisation
      operationId: showOrganisation
      parameters:
        - name: id
          in: path
          required: true
          description: >-
            Identifier of the organisation whose details to fetch
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Organisation was successfully fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'
        '400':
          description: >-
            Request was invalid. `error` can be any of: 
            `invalid_param`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation. `error` can
            be any of: `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/documents/organisations/{organisation_id}/memberships':
    get:
      tags:
        - memberships
      summary: List all user memberships for given organisation
      operationId: listMemberships
      parameters:
        - $ref: '#/components/parameters/organisation_id'
        - $ref: '#/components/parameters/total_required'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/filter_membership_ids'
        - $ref: '#/components/parameters/filter_team_ids'
        - $ref: '#/components/parameters/filter_tag_ids'
        - $ref: '#/components/parameters/filter_search'
      responses:
        '200':
          description: Memberships were successfully fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrganisationMembershipsResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
    post:
      tags:
        - memberships
      summary: >-
        Add a new member to an organisation. If no user with given
        email address exists in the system, also adds a new user.
      operationId: addMembership
      parameters:
        - $ref: '#/components/parameters/organisation_id'
      requestBody:
        description: >-
          Defines attributes of the membership to add. Note that the
          following properties cannot currently be set for this API
          operation: `tags`, `active_suveys`. Also, the objects in the
          `team_memberships` array are expected to contain `id` field (and
          only the `id` field) as opposed to what the example shows.
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/OrganisationMembership'
      responses:
        '200':
          description: Membership was successfully added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationMembership'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`, `email_already_in_use`, `missing_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or 
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/documents/organisations/{organisation_id}/memberships/{membership_id}':
    get:
      tags:
        - memberships
      summary: Return details for a specific membership
      operationId: showMembership
      parameters:
        - $ref: '#/components/parameters/organisation_id'
        - $ref: '#/components/parameters/organisation_membership_id'
      responses:
        '200':
          description: Membership was successfully fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationMembership'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation. `error` can
            be any of: `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: >-
            Membership not found. `error` can be any of:
            `membership_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
    put:
      tags:
        - memberships
      summary: >-
        Update an existing organisation membership.
      operationId: updateMembership
      parameters:
        - $ref: '#/components/parameters/organisation_id'
        - $ref: '#/components/parameters/organisation_membership_id'
      requestBody:
        description: >-
          Defines new attributes for the membership. Note that the
          following properties cannot currently be set with this API
          operation: `active_suveys`, `tags`, `team_memberships`.
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/OrganisationMembership'
      responses:
        '200':
          description: Membership was successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationMembership'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`, `email_already_in_use`, `missing_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or 
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: >-
            Membership not found. `error` can be any of:
            `membership_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
    delete:
      tags:
        - memberships
      summary: Remove a user from an organisation
      operationId: deleteMembership
      parameters:
        - $ref: '#/components/parameters/organisation_id'
        - $ref: '#/components/parameters/organisation_membership_id'
      responses:
        '204':
          description: Membership was successfully removed
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation. `error` can
            be any of: `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: >-
            Membership not found. `error` can be any of:
            `membership_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/documents/organisations/{organisation_id}/scheduled_surveys':
    get:
      tags:
        - scheduled surveys
      summary: List all scheduled surveys
      operationId: listScheduledSurveys
      parameters:
        - $ref: '#/components/parameters/organisation_id'
        - name: closed
          in: query
          description: >-
            Defines whether or not to return only scheduled surveys that are
            currently open, only those that are closed, or all scheduled
            surveys (when this parameter is not defined all scheduled
            surveys are returned).
          schema:
            type: boolean
        - $ref: '#/components/parameters/total_required'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Scheduled surveys were successfully fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrganisationScheduledSurveysResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
    post:
      tags:
        - scheduled surveys
      summary: >-
        Schedule new survey.
      operationId: scheduleSurvey
      parameters:
        - $ref: '#/components/parameters/organisation_id'
      requestBody:
        description: >-
          Defines attributes of the scheduled survey to add.
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/OrganisationScheduledSurvey'
      responses:
        '200':
          description: Scheduled survey was successfully added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationScheduledSurvey'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`, `survey_already_open`,
            `survey_not_found`, `missing_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or 
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/documents/organisations/{organisation_id}/scheduled_surveys/{survey_id}':
    get:
      tags:
        - scheduled surveys
      summary: Return details for a specific scheduled survey
      operationId: showScheduledSurvey
      parameters:
        - $ref: '#/components/parameters/organisation_id'
        - $ref: '#/components/parameters/scheduled_survey_id'
      responses:
        '200':
          description: Scheduled survey was successfully fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationScheduledSurvey'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation. `error` can
            be any of: `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: >-
            Scheduled survey not found. `error` can be any of:
            `scheduled_survey_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
    put:
      tags:
        - scheduled surveys
      summary: >-
        Update an existing scheduled survey.
      operationId: updateScheduledSurvey
      parameters:
        - $ref: '#/components/parameters/organisation_id'
        - $ref: '#/components/parameters/scheduled_survey_id'
      requestBody:
        description: >-
          Defines new attributes for the scheduled survey. The
          `closed` property is automatically updated based on the
          `ends_on` value. Note that the embedded survey object
          cannot in fact be updated.
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/OrganisationScheduledSurvey'
      responses:
        '200':
          description: Scheduled survey was successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationScheduledSurvey'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`, `missing_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or 
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: >-
            Scheduled survey not found. `error` can be any of:
            `scheduled_survey_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
    delete:
      tags:
        - scheduled surveys
      summary: >-
        Remove a sheculed survey (and related reports) from an
        organisation
      operationId: removeScheduledSurvey
      parameters:
        - $ref: '#/components/parameters/organisation_id'
        - $ref: '#/components/parameters/scheduled_survey_id'
      responses:
        '204':
          description: Scheduled survey was successfully removed
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation. `error` can
            be any of: `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: >-
            Scheduled survey not found. `error` can be any of:
            `scheduled_survey_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/documents/organisations/{organisation_id}/scheduled_surveys/{survey_id}/breakdown':
    get:
      tags:
        - scheduled surveys
      summary: >-
        Return participant and answer breakdown for a specific scheduled
        survey
      operationId: showScheduledSurveyBreakdown
      parameters:
        - $ref: '#/components/parameters/organisation_id'
        - $ref: '#/components/parameters/scheduled_survey_id'
      responses:
        '200':
          description: Breakdown was successfully fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationScheduledSurveyBreakdown'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation. `error` can
            be any of: `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: >-
            Scheduled survey not found. `error` can be any of:
            `scheduled_survey_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/documents/organisations/{organisation_id}/surveys':
    get:
      tags:
        - surveys
      summary: List all surveys
      operationId: listSurveys
      parameters:
        - $ref: '#/components/parameters/organisation_id'
        - name: schedulable
          in: query
          description: >-
            Defines whether or not to return only surveys that can currently
            the scheduled, only those that cannot be scheduled, or all surveys
            that can be accessed (when this parameter is not defined all
            surveys are returned).
          schema:
            type: boolean
        - $ref: '#/components/parameters/total_required'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Surveys were successfully fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSurveysResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/documents/organisations/{organisation_id}/surveys/{survey_id}':
    get:
      tags:
        - surveys
      summary: Return details for a specific survey
      operationId: showSurvey
      parameters:
        - $ref: '#/components/parameters/organisation_id'
        - name: survey_id
          in: path
          required: true
          description: Identifier of the survey whose details to fetch
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Survey was successfully fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Survey'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation. `error` can
            be any of: `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: >-
            Survey not found. `error` can be any of:
            `survey_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/documents/organisations/{organisation_id}/reports':
    get:
      tags:
        - reports
      summary: Fetch available reports for given organisation
      operationId: listReports
      parameters:
        - $ref: '#/components/parameters/organisation_id'
        - $ref: '#/components/parameters/total_required'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Reports successfully fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrganisationSurveyReportsResponse'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation. `error` can
            be any of: `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
    post:
      tags:
        - reports
      summary: Create report
      operationId: createReport
      parameters:
        - $ref: '#/components/parameters/organisation_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewOrganisationReport'
      responses:
        '200':
          description: Report successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationSurveyReport'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`, `scheduled_survey_not_found`, `missing_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or 
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/documents/organisations/{organisation_id}/reports/{report_id}':
    put:
      tags:
        - reports
      summary: >-
        Update an existing report.
      operationId: updateReport
      parameters:
        - $ref: '#/components/parameters/organisation_id'
        - name: report_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        description: >-
          Defines new attributes for the report. Only the `viewed` property
          can be set.
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/OrganisationSurveyReport'
      responses:
        '200':
          description: Report was successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationSurveyReport'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`, `missing_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: >-
            Report not found. `error` can be any of: `report_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/documents/organisations/{organisation_id}/tags':
    get:
      tags:
        - tags
      summary: List all tags for given organisation
      operationId: listTags
      parameters:
        - $ref: '#/components/parameters/organisation_id'
        - $ref: '#/components/parameters/total_required'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Tags were successfully fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrganisationTagsResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
    post:
      tags:
        - tags
      summary: >-
        Add a new tag to an organisation.
      operationId: addTag
      parameters:
        - $ref: '#/components/parameters/organisation_id'
      requestBody:
        description: >-
          Defines attributes of the tag to add.
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/OrganisationTag'
      responses:
        '200':
          description: Tag was successfully added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationTag'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`, `tag_already_exists`, `missing_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or 
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/documents/organisations/{organisation_id}/tags/{tag_id}':
    get:
      tags:
        - tags
      summary: Return details for a specific tag
      operationId: showTag
      parameters:
        - $ref: '#/components/parameters/organisation_id'
        - $ref: '#/components/parameters/organisation_tag_id'
      responses:
        '200':
          description: Tag was successfully fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationTag'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation. `error` can
            be any of: `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: >-
            Tag not found. `error` can be any of: `tag_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
    put:
      tags:
        - tags
      summary: >-
        Update an existing tag.
      operationId: updateTag
      parameters:
        - $ref: '#/components/parameters/organisation_id'
        - $ref: '#/components/parameters/organisation_tag_id'
      requestBody:
        description: >-
          Defines new attributes for the tag.
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/OrganisationTag'
      responses:
        '200':
          description: Tag was successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationTag'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`, `missing_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or 
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: >-
            Tag not found. `error` can be any of: `tag_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
    delete:
      tags:
        - tags
      summary: Remove a tag from the system
      operationId: deleteTag
      parameters:
        - $ref: '#/components/parameters/organisation_id'
        - $ref: '#/components/parameters/organisation_tag_id'
      responses:
        '204':
          description: Tag was successfully removed
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation. `error` can
            be any of: `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: >-
            Tag not found. `error` can be any of: `tag_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/documents/organisations/{organisation_id}/teams':
    get:
      tags:
        - teams
      summary: List all teams for given organisation
      operationId: listTeams
      parameters:
        - $ref: '#/components/parameters/organisation_id'
        - $ref: '#/components/parameters/total_required'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Teams were successfully fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrganisationTeamsResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
    post:
      tags:
        - teams
      summary: >-
        Add a new team to an organisation.
      operationId: addTeam
      parameters:
        - $ref: '#/components/parameters/organisation_id'
      requestBody:
        description: >-
          Defines attributes of the team to add. Note that for
          the parent team only the `id` field needs to / can be
          assigned.
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/OrganisationTeam'
      responses:
        '200':
          description: Team was successfully added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationTeam'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`, `team_already_exists`, `missing_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or 
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/documents/organisations/{organisation_id}/teams/{team_id}':
    get:
      tags:
        - teams
      summary: Return details for a specific team
      operationId: showTeam
      parameters:
        - $ref: '#/components/parameters/organisation_id'
        - $ref: '#/components/parameters/organisation_team_id'
      responses:
        '200':
          description: Team was successfully fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationTeam'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation. `error` can
            be any of: `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: >-
            Team not found. `error` can be any of: `team_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
    put:
      tags:
        - teams
      summary: >-
        Update an existing team.
      operationId: updateTeam
      parameters:
        - $ref: '#/components/parameters/organisation_id'
        - $ref: '#/components/parameters/organisation_team_id'
      requestBody:
        description: >-
          Defines new attributes for the team. Note that only the
          `id` field for the parent needs to / can be defined. To
          clear the parent set the parent `id` to `null`.
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/OrganisationTeam'
      responses:
        '200':
          description: Team was successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationTeam'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`, `missing_param`, `circular_team_tree`,
            (parent) `team_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or 
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: >-
            Team not found. `error` can be any of: `team_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
    delete:
      tags:
        - teams
      summary: Remove a team from the system
      operationId: deleteTeam
      parameters:
        - $ref: '#/components/parameters/organisation_id'
        - $ref: '#/components/parameters/organisation_team_id'
      responses:
        '204':
          description: Team was successfully removed
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation. `error` can
            be any of: `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: >-
            Team not found. `error` can be any of: `team_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/documents/organisations/{organisation_id}/teams/{team_id}/avatar':
    put:
      tags:
        - teams
      summary: Set a new avatar for a team
      operationId: setAvatar
      parameters:
        - $ref: '#/components/parameters/organisation_id'
        - $ref: '#/components/parameters/organisation_team_id'
      requestBody:
        description: >-
          The image to use as team avatar. JPEG and PNG formats are
          supported. The server automatically generates various
          thumbnail sizes for the avatar.
        content:
          'image/png':
            schema:
              type: string
              format: binary        
          'image/jpeg':
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: New avatar was successfully uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationTeam'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation. `error` can
            be any of: `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: >-
            Team not found. `error` can be any of: `team_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
    delete:
      tags:
        - teams
      summary: Remove avatar from a team
      operationId: removeAvatar
      parameters:
        - $ref: '#/components/parameters/organisation_id'
        - $ref: '#/components/parameters/organisation_team_id'
      responses:
        '200':
          description: Team avatar was successfully removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationTeam'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation. `error` can
            be any of: `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: >-
            Team not found. `error` can be any of: `team_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/documents/organisations/{organisation_id}/updates':
    get:
      tags:
        - updates
      summary: Fetch updates that have taken place since last call
      description: >-
        This API allows the caller to be notified of updates to
        objects the caller may have cached locally. Rich clients
        typically want to periodically poll this API to get ensure
        they remain up-to-date.
        This API uses different kind of pagination than other APIs
        and instead of passing some kind of page number the caller
        needs to pass the largest `OrganisationUpdate` object id it
        has seen thus far. Before the first call this API the client
        needs to make a call to the `latest_id` API to get initial
        identifier that must be passed to this API.
      operationId: listUpdates
      parameters:
        - $ref: '#/components/parameters/organisation_id'
        - name: last_seen_id
          in: query
          required: true
          description: >-
            Largest id seen in the last call to this API operation (or
            the value returned by the `latest_id` API call in case no
            updates have previously been returned).
          example: 592150323
          schema:
            type: integer
            format: int64
        - $ref: '#/components/parameters/total_required'
        - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Updates successfully fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrganisationUpdatesResponse'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation. `error` can
            be any of: `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/documents/organisations/{organisation_id}/updates/latest_id':
    get:
      tags:
        - updates
      summary: Fetch identifier of latest id
      description: >-
        This API returns initial value that the client must pass
        to the first `updates` API call that it makes. Passing any
        other value than what this API returns may result in the
        `updates` API returning unexpected updates. This API should
        only be called once, after the first call the client needs
        to determine appropriate id based on the `updates` API
        response.
      operationId: getLatestUpdateId
      parameters:
        - $ref: '#/components/parameters/organisation_id'
      responses:
        '200':
          description: Latest id successfully fetched
          content:
            application/json:
              schema:
                type: integer
                format: int64
                example: 5285685
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation. `error` can
            be any of: `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/control/actions/{action_id}':
    get:
      tags:
        - membership mass actions
      summary: >-
        Fetch latest state of a mass admin action
      description: >-
        Returns current state of given mass action. Clients should
        poll this API to observe the progress of a mass action
        until it completes.
      operationId: fetchMassActionDetails
      parameters:
        - name: action_id
          in: path
          description: Identifier of the mass action to access
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Action details were successfully fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassAction'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or 
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: >-
            Action not found. `error` can be any of:
            `mass_action_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/control/actions/{action_id}/errors':
    get:
      tags:
        - membership mass actions
      summary: List errors for given mass admin action
      operationId: listMassActionErrors
      parameters:
        - name: action_id
          in: path
          description: Identifier of the mass action to access
          required: true
          schema:
            type: integer
            format: int32
        - $ref: '#/components/parameters/total_required'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Errors were successfully fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMassActionErrorsResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: >-
            Mass action not found. `error` can be any of:
            `mass_action_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/control/actions/memberships/enable_hh_core':
    post:
      tags:
        - membership mass actions
      summary: >-
        Enable HeiaHeia (Parempi Vire) functionality for user(s).
      description: >-
        Finds all users matching given filter conditions and enables
        HeiaHeia functionality for matching users who don't already
        have it enabled. Users who already have it enabled are
        unaffected. Users are sent an email with instructions for
        taking the service into use.
      operationId: massEnableHHCore
      parameters:
        - $ref: '#/components/parameters/query_organisation_id'
        - $ref: '#/components/parameters/filter_membership_ids'
        - $ref: '#/components/parameters/filter_team_ids'
        - $ref: '#/components/parameters/filter_tag_ids'
        - $ref: '#/components/parameters/filter_search'
        - $ref: '#/components/parameters/filter_no_filters'
      responses:
        '200':
          description: Action was successfully started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassAction'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`, `missing_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or 
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/control/actions/memberships/disable_hh_core':
    post:
      tags:
        - membership mass actions
      summary: >-
        Disable HeiaHeia (Parempi Vire) functionality for user(s).
      description: >-
        Finds all users matching given filter conditions and disables
        HeiaHeia functionality for matching users who currently
        have it enabled. Users who already have it disabled are
        unaffected.
      operationId: massDisableHHCore
      parameters:
        - $ref: '#/components/parameters/query_organisation_id'
        - $ref: '#/components/parameters/filter_membership_ids'
        - $ref: '#/components/parameters/filter_team_ids'
        - $ref: '#/components/parameters/filter_tag_ids'
        - $ref: '#/components/parameters/filter_search'
        - $ref: '#/components/parameters/filter_no_filters'
      responses:
        '200':
          description: Action was successfully started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassAction'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`, `missing_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or 
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/control/actions/memberships/resend_invitation':
    post:
      tags:
        - membership mass actions
      summary: >-
        Resend HeiaHeia (Parempi Vire) invitation to user(s).
      description: >-
        Finds all users matching given filter conditions and resends
        invitation to start using the HeiaHeia (Parempi Vire) service
        to them. The invitation is not resent to users for whom the
        functionality has not been enabled.
      operationId: massResendInvitation
      parameters:
        - $ref: '#/components/parameters/query_organisation_id'
        - $ref: '#/components/parameters/filter_membership_ids'
        - $ref: '#/components/parameters/filter_team_ids'
        - $ref: '#/components/parameters/filter_tag_ids'
        - $ref: '#/components/parameters/filter_search'
        - $ref: '#/components/parameters/filter_no_filters'
      responses:
        '200':
          description: Action was successfully started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassAction'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`, `missing_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or 
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/control/actions/memberships/add_tag':
    post:
      tags:
        - membership mass actions
      summary: >-
        Add tag for user(s).
      description: >-
        Finds all users matching given filter conditions and adds
        given tag for them. Users who already have the tag are
        unaffected.
      operationId: massAddTag
      parameters:
        - $ref: '#/components/parameters/query_organisation_id'
        - name: tag_id
          in: query
          example: 520211
          required: true
          schema:
            type: integer
            format: int32
        - $ref: '#/components/parameters/filter_membership_ids'
        - $ref: '#/components/parameters/filter_team_ids'
        - $ref: '#/components/parameters/filter_tag_ids'
        - $ref: '#/components/parameters/filter_search'
        - $ref: '#/components/parameters/filter_no_filters'
      responses:
        '200':
          description: Action was successfully started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassAction'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`, `missing_param`, `tag_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or 
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/control/actions/memberships/remove_tag':
    post:
      tags:
        - membership mass actions
      summary: >-
        Remove tag from user(s).
      description: >-
        Finds all users matching given filter conditions and removes
        given tag from them. Users who don't currently have the tag
        are unaffected.
      operationId: massRemoveTag
      parameters:
        - $ref: '#/components/parameters/query_organisation_id'
        - name: tag_id
          in: query
          example: 520211
          required: true
          schema:
            type: integer
            format: int32
        - $ref: '#/components/parameters/filter_membership_ids'
        - $ref: '#/components/parameters/filter_team_ids'
        - $ref: '#/components/parameters/filter_tag_ids'
        - $ref: '#/components/parameters/filter_search'
        - $ref: '#/components/parameters/filter_no_filters'
      responses:
        '200':
          description: Action was successfully started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassAction'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`, `missing_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or 
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/control/actions/memberships/join_team':
    post:
      tags:
        - membership mass actions
      summary: >-
        Add user(s) to team.
      description: >-
        Finds all users matching given filter conditions and makes
        them members of given team. Users who are already members
        of the team are unaffected.
      operationId: massJoinTeam
      parameters:
        - $ref: '#/components/parameters/query_organisation_id'
        - name: team_id
          in: query
          example: 45328951
          required: true
          schema:
            type: integer
            format: int64
        - $ref: '#/components/parameters/filter_membership_ids'
        - $ref: '#/components/parameters/filter_team_ids'
        - $ref: '#/components/parameters/filter_tag_ids'
        - $ref: '#/components/parameters/filter_search'
        - $ref: '#/components/parameters/filter_no_filters'
      responses:
        '200':
          description: Action was successfully started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassAction'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`, `missing_param`, `team_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or 
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/control/actions/memberships/leave_team':
    post:
      tags:
        - membership mass actions
      summary: >-
        Remove user(s) from team.
      description: >-
        Finds all users matching given filter conditions and removes
        them from given team. Users who aren't currently members of
        the team are unaffected.
      operationId: massLeaveTeam
      parameters:
        - $ref: '#/components/parameters/query_organisation_id'
        - name: team_id
          in: query
          example: 45328951
          required: true
          schema:
            type: integer
            format: int64
        - $ref: '#/components/parameters/filter_membership_ids'
        - $ref: '#/components/parameters/filter_team_ids'
        - $ref: '#/components/parameters/filter_tag_ids'
        - $ref: '#/components/parameters/filter_search'
        - $ref: '#/components/parameters/filter_no_filters'
      responses:
        '200':
          description: Action was successfully started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassAction'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`, `missing_param`, `team_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or 
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/control/actions/memberships/start_survey':
    post:
      tags:
        - membership mass actions
      summary: >-
        Active survey for user(s).
      description: >-
        Finds all users matching given filter conditions and activates
        given survey for them. Users for whom the survey is already
        active are unaffected; use the `resend_survey_invitation` API
        to resend invitation for those. Affected users will be sent an
        email invitation to take the survey.
      operationId: massStartSurvey
      parameters:
        - $ref: '#/components/parameters/query_organisation_id'
        - name: scheduled_survey_id
          in: query
          example: 48373
          required: true
          schema:
            type: integer
            format: int32
        - $ref: '#/components/parameters/filter_membership_ids'
        - $ref: '#/components/parameters/filter_team_ids'
        - $ref: '#/components/parameters/filter_tag_ids'
        - $ref: '#/components/parameters/filter_search'
        - $ref: '#/components/parameters/filter_no_filters'
      responses:
        '200':
          description: Action was successfully started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassAction'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`, `missing_param`,
            `scheduled_survey_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or 
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/control/actions/memberships/stop_survey':
    post:
      tags:
        - membership mass actions
      summary: >-
        Deactivate survey for user(s).
      description: >-
        Finds all users matching given filter conditions and disables
        given scheduled survey for them. Users who have not been
        invited to take the survey are unaffected. Affected users
        will not be notified but if they try to take the survey using
        link they received earlier, they will be told the survey no
        longer exists.
      operationId: massStopSurvey
      parameters:
        - $ref: '#/components/parameters/query_organisation_id'
        - name: scheduled_survey_id
          in: query
          example: 48373
          required: true
          schema:
            type: integer
            format: int32
        - $ref: '#/components/parameters/filter_membership_ids'
        - $ref: '#/components/parameters/filter_team_ids'
        - $ref: '#/components/parameters/filter_tag_ids'
        - $ref: '#/components/parameters/filter_search'
        - $ref: '#/components/parameters/filter_no_filters'
      responses:
        '200':
          description: Action was successfully started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassAction'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`, `missing_param`,
            `scheduled_survey_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or 
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/control/actions/memberships/resend_survey_invitation':
    post:
      tags:
        - membership mass actions
      summary: >-
        Resend survey invitation to user(s).
      description: >-
        Finds all users matching given filter conditions and resends
        invitation to take the survey to them. The invitation is not
        resent for users who have not been invited to the survey nor
        to users who have already completed the survey.
      operationId: massResendSurveyInvitation
      parameters:
        - $ref: '#/components/parameters/query_organisation_id'
        - name: scheduled_survey_id
          in: query
          example: 48373
          required: true
          schema:
            type: integer
            format: int32
        - $ref: '#/components/parameters/filter_membership_ids'
        - $ref: '#/components/parameters/filter_team_ids'
        - $ref: '#/components/parameters/filter_tag_ids'
        - $ref: '#/components/parameters/filter_search'
        - $ref: '#/components/parameters/filter_no_filters'
      responses:
        '200':
          description: Action was successfully started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassAction'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`, `missing_param`,
            `scheduled_survey_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or 
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/documents/organisations/{organisation_id}/membership_imports':
    get:
      tags:
        - membership imports
      summary: List all membership import tasks for given organisation
      description: >-
        The imports remain available for an indefinite amount after creation
        before they are cleaned up.
      operationId: listMembershipImports
      parameters:
        - $ref: '#/components/parameters/organisation_id'
        - $ref: '#/components/parameters/total_required'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Membership imports were successfully fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrganisationMembershipImportsResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
    post:
      tags:
        - membership imports
      summary: >-
        Create new membership import task
      description: >-
        The newly created task will be in `pending` state initially. Individual
        operations associated with the task can be listed and toggled on or off
        until the operation is actually started by updating the `state` field
        to value `ongoing`.
      operationId: addMembershipImport
      parameters:
        - $ref: '#/components/parameters/organisation_id'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  type: string
                  description: >-
                    A CSV file containing details of the users to add to the
                    organisation. The CSV must contain columns `first_name`,
                    `last_name` and `email`. The CSV may optionally contain
                    `id` (external identifier of the user if available, should
                    be provided to allow changing the user's email address if
                    user's name changes, otherwise email is used to identify
                    users), `language` (two letter language code like `en`,
                    defaults to `fi`), `hh_enabled` (synonym for `pv_enabled`,
                    whether or not to enabled the HH / PV functionality for the
                    user, default is `false`), `team` (multiple columns with
                    this name can be defined to specify multiple teams, the
                    value may contain bar separated values like `BU1|Unit1`
                    to define team hierarchy), `tag` (multiple columns with
                    this name can be defined to specify multiple tags, the
                    value may contain bar separated value like `Foreman|John`
                    to specify the category of a tag in addition to the name).
                mode:
                  type: string
                  enum:
                    - add_and_update_only
                    - remove_imported
                    - full_replace
                  default: remove_imported
                  description: >-
                    Defines how to handle current organisation members that
                    are not present in the input data. `add_and_update_only`
                    does not remove any users from the organisation, it only
                    adds new ones and updates those with matching email / id.
                    `remove_imported` removes existing members who are not
                    found from input data and have previously been imported
                    (as opposed to being manually created from UI).
                    `full_replace` removes any existing members who are not
                    found from input data.
                hh_core_enabled:
                  type: boolean
                  default: null
                  description: >-
                    Whether or not to enable HH / PV functionality for users.
                    This setting only has effect in case the CSV file does not
                    contain `hh_enabled` / `pv_enabled` column or value of that
                    field is empty for some users. When the value is not
                    provided HH / PV functionality will be disabled for new
                    users and kept in existing state for existing users, when
                    `false` the functionality will be disabled for all users,
                    and when `true` the functionality will be enabled for all
                    users ("all" referring to all users for whom no explicit
                    value has been defined in the CSV).
      responses:
        '200':
          description: Membership import task was successfully added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationMembershipImportTask'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`, `xls_not_supported` (file type is `.xls(x)`, which
            is not supported), `csv_required` (file type is anything but
            `.csv` or `.xls(x)`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or 
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/documents/organisations/{organisation_id}/membership_imports/{import_id}':
    get:
      tags:
        - membership imports
      summary: >-
        Return current state of a specific membership import task
      operationId: showMembershipImport
      parameters:
        - $ref: '#/components/parameters/organisation_id'
        - $ref: '#/components/parameters/membership_import_id'
      responses:
        '200':
          description: Membership import task was successfully fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationMembershipImportTask'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation. `error` can
            be any of: `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: >-
            Membership import not found. `error` can be any of:
            `membership_import_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
    put:
      tags:
        - membership imports
      summary: >-
        Update (start) an existing organisation membership import task.
      operationId: updateMembershipImport
      parameters:
        - $ref: '#/components/parameters/organisation_id'
        - $ref: '#/components/parameters/membership_import_id'
      requestBody:
        required: true
        description: >-
          The only valid state transition for `state` is from `pending` to
          `ongoing`, which starts the import operation.
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/OrganisationMembershipImportTask'
      responses:
        '200':
          description: Membership import was successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationMembership'
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`, `email_already_in_use`, `missing_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or 
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: >-
            Membership not found. `error` can be any of:
            `membership_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
    delete:
      tags:
        - membership imports
      summary: Remove a membership import task
      operationId: deleteMembershipImport
      parameters:
        - $ref: '#/components/parameters/organisation_id'
        - $ref: '#/components/parameters/membership_import_id'
      responses:
        '204':
          description: Membership import task was successfully removed
        '400':
          description: >-
            Request was invalid. `error` can be any of:
            `invalid_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation. `error` can
            be any of: `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: >-
            Membership import not found. `error` can be any of:
            `membership_import_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/documents/organisations/{organisation_id}/membership_imports/{import_id}/items':
    get:
      tags:
        - membership imports
      summary: List all membership import items for given import task
      operationId: listMembershipImportItems
      parameters:
        - $ref: '#/components/parameters/organisation_id'
        - $ref: '#/components/parameters/membership_import_id'
        - name: actions
          in: query
          description: >-
            Filter results by action type. Multiple types may be specified.
            If missing/empty all types of actions are returned.
          schema:
            type: array
            items:
              type: string
              enum: ["add", "update", "remove", "error"]
        - $ref: '#/components/parameters/total_required'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Membership import items were successfully fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrganisationMembershipImportItemsResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: >-
            Membership import not found. `error` can be any of:
            `membership_import_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  '/admin/v1/documents/organisations/{organisation_id}/membership_imports/{import_id}/items/{item_id}':
    put:
      tags:
        - membership imports
      summary: Update a membership import item
      operationId: updateMembershipImportItem
      parameters:
        - $ref: '#/components/parameters/organisation_id'
        - $ref: '#/components/parameters/membership_import_id'
        - name: item_id
          in: path
          required: true
          description: >-
            Identifier of the membership import item to update
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        description: >-
          The `skip` attribute cannot be updated for items with `action`
          set to `error`, those will always be skipped.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganisationMembershipImportItem'
      responses:
        '200':
          description: Membership import item was successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationMembershipImportItem'
        '400':
          description: >-
            Invalid request. `error` can be any of `invalid_param`,
            `missing_param`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/MissingAuthorization'
        '403':
          description: >-
            Not authorized to perform this API operation or
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: >-
            Membership import task or item not found. `error` can be any of:
            `membership_import_not_found`, `membership_import_item_not_found`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  /admin/v1/control/login/send_token:
    post:
      tags:
        - authentication
      summary: >-
        Request one-time authentication token via email.
      description: >-
        All parameters may be provided either as query parameters or in
        request body.
      operationId: sendAuthTokenViaEmail
      parameters:
        - name: email
          in: query
          description: >-
            Email address of the user for whom to send login token.
          required: true
          schema:
            type: string
        - name: language
          in: query
          description: >-
            Language for the login token email. Defaults to user's language
            configured in the backend database.
          schema:
            type: string
      responses:
        '204':
          description: Email was successfully sent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrganisationsResponse'
        '400':
          description: >-
            Invalid request. `error` can be any of `invalid_param`,
            `missing_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: >-
            Not authorized to perform this API operation or
            organisation not found. `error` can be any of:
            `no_org_access`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServerNotAvailable'
  /oauth/token:
    post:
      tags:
        - authentication
      summary: >-
        Create new access token
      description: >-
        All parameters may be provided either as query parameters or in
        request body.
      operationId: createAccessToken
      parameters:
        - name: client_id
          in: query
          description: >-
            Identifier of the client application
          required: true
          schema:
            type: string
        - name: client_secret
          in: query
          description: >-
            Secret of the client application. This should not be exposed
            publicly if technically.
          required: true
          schema:
            type: string
        - name: grant_type
          in: query
          description: >-
            Type of the OAuth grant to use for authentication. One of
            `password`, `magic_token`.
          required: true
          schema:
            type: string
            enum: ["password", "magic_token"]
        - name: username
          in: query
          description: >-
            Email of the user for whom to create access token. Must be
            provided when `grant_type` is `password`.
          schema:
            type: string
        - name: password
          in: query
          description: >-
            User password. Must be provided when `grant_type` is `password`.
          schema:
            type: string
        - name: email
          in: query
          description: >-
            Email of the user for whom to create access token. Must be
            provided when `grant_type` is `password`.
          schema:
            type: string
        - name: magic_token
          in: query
          description: >-
            One-time magic token. Must be provided when `grant_type` is
            `magic_token`.
          schema:
            type: string
      responses:
        '200':
          description: Access token was successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
        '400':
          description: >-
            Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: >-
            Invalid authentication details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /oauth/revoke:
    post:
      tags:
        - authentication
      summary: >-
        Revoke an access token
      description: >-
        Revokes the access token used to authenticate this request.
      operationId: revokeAccessToken
      responses:
        '204':
          description: Access token was successfully revoked.
        '401':
          $ref: '#/components/responses/MissingAuthorization'
security:
  - admin_api_auth:
      - admin_api
components:
  schemas:
    AccessToken:
      type: object
      properties:
        access_token:
          type: string
          example: C6061FA11655417D9CEA90366054638F
    BreakdownItem:
      type: object
      description: >-
        Participant and answer details for a specific team or tag.
        Depending on the type of the referenced group, only the
        `team` or `tag` property is present.
      properties:
        id:
          type: string
          example: 485402_team_3205492853
        answer_count:
          type: integer
          format: int32
          example: 44
          description: >-
            Number of answers in this group.
        participant_count:
          type: integer
          format: int32
          example: 69
          description: >-
            Number of participants in this group.
        insufficient_data:
          type: boolean
          example: false
          description: >-
            `true` if the group can be shown in report, `false`
            otherwise.
        insufficient_data_reason:
          type: string
          example: null
          enum: ["too_few_results", "too_similar"]
          description: >-
            Identifies the reason why this group cannot be shown
            in the report. `too_few_results` indicates that the
            number of respondents in this group was below required
            threshold. `too_similar` indicates that this group is
            too similar to some other group or combination or groups.
        tag:
          $ref: '#/components/schemas/OrganisationTag'
        team:
          $ref: '#/components/schemas/CompactOrganisationTeam'
    CompactOrganisation:
      type: object
      description: >-
        Compact representation of an organisation.
      properties:
        id:
          type: integer
          format: int32
          example: 840299
        name:
          type: string
          example: Acme Corporation
        size_class:
          type: integer
          format: int32
          example: 50
          description: >-
            One of three values to indicate small (20), medium (50)
            or large (10000) organisation
    CompactOrganisationScheduledSurvey:
      type: object
      description: >-
        Compact representation of organisation specific instance
        of a survey. The compact variant of survey is used in some
        API calls to make the responses smaller.
      properties:
        id:
          type: integer
          format: int32
          readOnly: true
          example: 4305091
        started_at:
          type: string
          format: dateTime
          readOnly: true
          description: >-
            Date and time when the organisation survey was initially
            started. Does not change if a closed survey is reopened.
          example: "2018-01-01T08:00:10+00:00"
        ends_on:
          type: string
          format: date
          description: >-
            Date when the survey closes. The survey can still be
            taken on this day. The server sends automatic reminder to
            take the survey the day before closing day (for users
            who haven't yet taken the survey) so it is recommended to
            pick some day between Tuesday and Friday.
          example: "2018-01-14"
        closed:
          type: boolean
          readOnly: true
          example: false
          description: >-
            Defines whether the survey can still be taken or not.
            This attribute is automatically updated when current date
            goes beyond the end date of the survey.
        survey:
          $ref: '#/components/schemas/CompactSurvey'
    CompactOrganisationTag:
      type: object
      description: >-
        Tags are used to describe non-hierarchy related user
        information. Typical information includes things like the time
        the person has worked for the organisation, age, location,
        etc. Tags are not visible for the end-users themselves.
      properties:
        id:
          type: integer
          format: int32
          readOnly: true
          example: 4395402
        name:
          type: string
          example: 0-1 years
[...]
